Repository 0spinboson/verenigingen: changes, and which pre-commit hooks are due for each by the changed paths.
All: security-tests, core-functionality-tests, integration-tests-critical

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: smoke-tests
        name: Run smoke tests before commit
        entry: python verenigingen/tests/test_runner.py smoke
        language: system
        pass_filenames: false
        always_run: true
        
      - id: security-tests  
        name: Run security regression tests
        entry: python run_volunteer_portal_tests.py --suite security
        language: system
        pass_filenames: false
        files: \.(py|js)$
        
      - id: core-functionality-tests
        name: Run core functionality tests on Python changes
        entry: python run_volunteer_portal_tests.py --suite core
        language: system
        pass_filenames: false
        files: \.py$
        
      - id: integration-tests-critical
        name: Run critical integration tests
        entry: bash -c 'bench run-tests --app verenigingen --module verenigingen.tests.test_termination_system && bench run-tests --app verenigingen --module verenigingen.tests.test_volunteer_portal_working'
        language: system
        pass_filenames: false
        files: (termination|volunteer|member|team).*\.py$

cc cleaned from application
  verenigingen/api/membership_application.py
  verenigingen/public/js/membership_application.js
  verenigingen/public/js/services/storage-service.js
  verenigingen/templates/membership_application.html
  verenigingen/templates/pages/member_portal.py
  verenigingen/utils/application_payments.py
Due: security-tests, core-functionality-tests, integration-tests-critical

dd batch update
  DD_BATCH_ENHANCEMENT_PROPOSAL.md
  DD_BATCH_ENHANCEMENT_SUMMARY.md
  DD_SECURITY_DOCTYPES.md
  manuals/CHAPTER_MEMBERSHIP_FIX_SUMMARY.md
  manuals/CHAPTER_MEMBERSHIP_REGRESSION_TESTS_COMPLETE.md
  manuals/SCRIPT_ORGANIZATION_SUMMARY.md
  run_dd_batch_comprehensive_tests.py
  test_dd_final_validation.py
  test_dd_in_frappe.py
  test_dd_logic_standalone.py
  validate_dd_enhancements.py
  verenigingen/public/js/dd_batch_management_enhanced.js
  verenigingen/tests/test_dd_batch_edge_cases_comprehensive.py
  verenigingen/utils/dd_security_enhancements.py
Due: security-tests, core-functionality-tests

region update
  CONCURRENCY_PERFORMANCE_FIXES_SUMMARY.md
  MEMBERSHIP_APPLICATION_COMPLETE_FIXES.md
  MEMBERSHIP_APPLICATION_FIXES.md
  OPTIMIZATION_TESTING_GUIDE.md
  REGION_IMPLEMENTATION_SUMMARY.md
  SYNTAX_FIXES_SUMMARY.md
  region_implementation_plan.md
  scripts/testing/runners/run_chapter_membership_regression_tests.py
  test_all_doctype_fixes_integration.py
  test_chapter_concurrency_fixes.py
  test_member_concurrency_fixes.py
  test_volunteer_concurrency_fixes.py
  verenigingen/api/membership_application.py
  verenigingen/public/js/membership_application.js
  verenigingen/verenigingen/doctype/chapter/chapter.json
  verenigingen/verenigingen/doctype/chapter/chapter.py
  verenigingen/verenigingen/doctype/chapter/managers/board_manager.py
  verenigingen/verenigingen/doctype/chapter/managers/member_manager.py
  verenigingen/verenigingen/doctype/chapter/validators/chapter_info_validator.py
  verenigingen/verenigingen/doctype/member/member.py
  verenigingen/verenigingen/doctype/member/member_id_manager.py
  verenigingen/verenigingen/doctype/region/__init__.py
  verenigingen/verenigingen/doctype/region/region.json
  verenigingen/verenigingen/doctype/region/region.py
  verenigingen/verenigingen/doctype/region/test_region.py
  verenigingen/verenigingen/doctype/volunteer/volunteer.py
Due: security-tests, core-functionality-tests, integration-tests-critical

Rename manuals/README.md to README.md
  README.md
Due: none

Update README.md
  README.md
Due: none

readme
  DD_BATCH_ENHANCEMENT_PROPOSAL.md
  README.md
Due: none

settings cleanup
  verenigingen/verenigingen/doctype/verenigingen_settings/verenigingen_settings.json
Due: none

fix settings
  scripts/testing/runners/test_chapter_membership_fix_simple.py
  scripts/validation/features/test_chapter_membership_final.py
  verenigingen/hooks.py
  verenigingen/setup.py
  verenigingen/verenigingen/doctype/donation_type/donation_type.json
  verenigingen/verenigingen/doctype/verenigingen_settings/verenigingen_settings.json
Due: security-tests, core-functionality-tests, integration-tests-critical

donation module expansion, round 1
  verenigingen/public/js/donation_form.js
  verenigingen/templates/pages/donate.html
  verenigingen/templates/pages/donate.py
  verenigingen/utils/donation_emails.py
  verenigingen/utils/payment_gateways.py
  verenigingen/verenigingen/doctype/donation/donation.json
  verenigingen/verenigingen/doctype/donation/donation.py
  verenigingen/verenigingen/doctype/donation/test_donation.py
  verenigingen/verenigingen/doctype/verenigingen_settings/verenigingen_settings.json
  verenigingen/verenigingen/doctype/verenigingen_settings/verenigingen_settings.py
Due: security-tests, core-functionality-tests

doctype fix
  verenigingen/templates/pages/donate.py
  verenigingen/verenigingen/doctype/chapter/__init__.py
  verenigingen/verenigingen/doctype/chapter/chapter.json
  verenigingen/verenigingen/doctype/donation_type/__init__.py
  verenigingen/verenigingen/doctype/donation_type/donation_type.json
  verenigingen/verenigingen/doctype/donor/__init__.py
  verenigingen/verenigingen/doctype/donor/donor.json
Due: security-tests, core-functionality-tests

additional fixes
  verenigingen/verenigingen/doctype/chapter_member/chapter_member.json
  verenigingen/verenigingen/doctype/expense_category/expense_category.json
  verenigingen/verenigingen/doctype/volunteer_expense/volunteer_expense.json
Due: none

more housekeeping
  docs/implementation/PROJECT_ROOT_ORGANIZATION.md
  verenigingen/hooks.py
  verenigingen/patches/migrate_termination_system.py
  verenigingen/setup.py
  verenigingen/setup/__init__.py
  verenigingen/setup/doctype_overrides.py
  verenigingen/setup/termination_diagnostics.py
  verenigingen/setup/workflow_setup.py
  verenigingen/setup/workspace_updates.py
  verenigingen/tests/test_helpers.py
  verenigingen/utils/subscription_processing.py
Due: security-tests, core-functionality-tests, integration-tests-critical

chapter status fix
  verenigingen/hooks.py
  verenigingen/overrides/payment_entry.py
  verenigingen/setup.py
  verenigingen/utils/payment_utils.py
  verenigingen/verenigingen/doctype/chapter/chapter.js
  verenigingen/verenigingen/doctype/chapter/chapter_list.js
  verenigingen/verenigingen/doctype/donation/donation.json
  verenigingen/verenigingen/doctype/donation/donation.py
Due: security-tests, core-functionality-tests

small naming fix
  docs/developer/PAGE_TEMPLATE_CUSTOMIZATION.md
  docs/user-manual/MEMBERSHIP_APPLICATION_CUSTOMIZATION.md
  verenigingen/public/css/membership_application.css
  verenigingen/templates/membership_application.html
  verenigingen/templates/pages/apply_for_membership.html
  verenigingen/templates/pages/personal_details.html
  verenigingen/verenigingen/doctype/member/member.json
Due: none

tailwind
  docs/developer/TAILWINDCSS_INTEGRATION.md
  package-lock.json
  package.json
  tailwind.config.js
  verenigingen/api/membership_application_review.py
  verenigingen/public/css/tailwind.css
  verenigingen/templates/pages/apply_for_membership_new.html
  verenigingen/templates/styles/tailwind.css
  verenigingen/verenigingen/doctype/member/member.py
  verenigingen/verenigingen/report/members_without_chapter/members_without_chapter.py
Due: security-tests, core-functionality-tests, integration-tests-critical

tailwind membership application form
  docs/developer/TAILWINDCSS_INTEGRATION.md
  tailwind.config.js
  verenigingen/public/css/tailwind.css
  verenigingen/templates/pages/apply_for_membership_new.html
  verenigingen/templates/styles/tailwind.css
Due: security-tests

bank import and chapter history tracking
  BANKING_IMPORT_SOLUTION.md
  create_minimal_onboarding.py
  create_onboarding.py
  debug_chapter_assignment.py
  test_chapter_fix.py
  test_chapter_history.py
  verenigingen/api/membership_application_review.py
  verenigingen/hooks.py
  verenigingen/install_onboarding.py
  verenigingen/public/css/tailwind.css
  verenigingen/public/js/member/js_modules/chapter-history-utils.js
  verenigingen/templates/pages/member_portal_new.html
  verenigingen/templates/pages/member_portal_new.py
  verenigingen/templates/styles/tailwind.css
  verenigingen/utils/chapter_membership_history_manager.py
  verenigingen/utils/manual_camt_import.py
  verenigingen/utils/mt940_import.py
  verenigingen/utils/mt940_import_auto.py
  verenigingen/utils/populate_chapter_history.py
  verenigingen/utils/test_mt940.py
  verenigingen/verenigingen/doctype/chapter/chapter.py
  verenigingen/verenigingen/doctype/chapter/managers/board_manager.py
  verenigingen/verenigingen/doctype/chapter/managers/member_manager.py
  verenigingen/verenigingen/doctype/chapter_membership_history/__init__.py
  verenigingen/verenigingen/doctype/chapter_membership_history/chapter_membership_history.json
  verenigingen/verenigingen/doctype/chapter_membership_history/chapter_membership_history.py
  verenigingen/verenigingen/doctype/donation/donation.py
  verenigingen/verenigingen/doctype/donation/test_donation.py
  verenigingen/verenigingen/doctype/member/member.js
  verenigingen/verenigingen/doctype/member/member.json
  verenigingen/verenigingen/doctype/member/member.py
  verenigingen/verenigingen/doctype/member/member_original_backup.py
  verenigingen/verenigingen/doctype/member/mixins/payment_mixin.py
  verenigingen/verenigingen/doctype/member/scheduler.py
  verenigingen/verenigingen/doctype/verenigingen_settings/verenigingen_settings.json
  verenigingen/verenigingen/doctype/volunteer/volunteer.js
  verenigingen/verenigingen/doctype/volunteer/volunteer.py
  verenigingen/verenigingen/module_onboarding/verenigingen/verenigingen.json
  verenigingen/verenigingen/workspace/verenigingen/verenigingen.json
Due: security-tests, core-functionality-tests, integration-tests-critical

tailwind metastasis
  check_workspace.py
  debug_portal_settings.py
  debug_workspace.py
  fix_home_workspace.py
  quick_test_settings.py
  scripts/debug/check_email_templates.py
  scripts/debug/debug_chapter_assignment.py
  scripts/setup/create_all_email_templates.py
  scripts/setup/create_minimal_onboarding.py
  scripts/setup/create_onboarding.py
  scripts/setup/update_workspace_for_onboarding.py
  scripts/testing/test_chapter_fix.py
  scripts/testing/test_chapter_history.py
  scripts/testing/test_income_calculator.py
  verenigingen/api/restore_home_workspace.py
  verenigingen/templates/pages/apply_for_membership.html
  verenigingen/templates/pages/bank_details.html
  verenigingen/templates/pages/member_portal.html
  verenigingen/templates/pages/member_portal.py
  verenigingen/templates/pages/membership_fee_adjustment.html
  verenigingen/templates/pages/volunteer/expenses.html
  verenigingen/utils/portal_menu_enhancer.py
Due: security-tests, core-functionality-tests, integration-tests-critical

sepa dd batch processing
  BANK_RECONCILIATION_GUIDE.md
  debug_direct_debit_fields.py
  verenigingen/api/financial_workspace_updater.py
  verenigingen/api/sepa_integration_setup.py
  verenigingen/api/sepa_reconciliation.py
  verenigingen/api/sepa_test_data.py
  verenigingen/public/js/member/js_modules/sepa-utils.js
  verenigingen/public/js/member/js_modules/ui-utils.js
  verenigingen/setup/sepa_custom_fields.py
  verenigingen/templates/pages/sepa_reconciliation_dashboard.html
  verenigingen/templates/pages/sepa_reconciliation_dashboard.py
  verenigingen/verenigingen/doctype/member/member.js
  verenigingen/verenigingen/doctype/member/member.json
  verenigingen/verenigingen/doctype/member/mixins/payment_mixin.py
  verenigingen/verenigingen/doctype/member/mixins/sepa_mixin.py
  verenigingen/verenigingen/doctype/sepa_bank_transaction_link/__init__.py
  verenigingen/verenigingen/doctype/sepa_bank_transaction_link/sepa_bank_transaction_link.json
  verenigingen/verenigingen/doctype/sepa_bank_transaction_link/sepa_bank_transaction_link.py
  verenigingen/verenigingen/workspace/verenigingen/verenigingen.json
Due: security-tests, core-functionality-tests, integration-tests-critical

sepa dd reconciliation test stuff
  docs/SEPA_DOUBLE_DEBITING_PREVENTION.md
  scripts/testing/run_sepa_reconciliation_tests.py
  tests/test_sepa_period_duplicate_prevention.py
  tests/test_sepa_reconciliation_comprehensive.py
  verenigingen/api/sepa_duplicate_prevention.py
  verenigingen/api/sepa_period_duplicate_prevention.py
  verenigingen/api/sepa_reconciliation.py
  verenigingen/api/sepa_workflow_wrapper.py
  verenigingen/verenigingen/doctype/sepa_return_file_log/__init__.py
  verenigingen/verenigingen/doctype/sepa_return_file_log/sepa_return_file_log.json
  verenigingen/verenigingen/doctype/sepa_return_file_log/sepa_return_file_log.py
Due: security-tests, core-functionality-tests

test
  scripts/testing/test_dd_batch_workflow.py
  verenigingen/api/dd_batch_optimizer.py
  verenigingen/api/dd_batch_scheduler.py
  verenigingen/api/dd_batch_workflow_controller.py
  verenigingen/setup/dd_batch_workflow_setup.py
  verenigingen/setup/simple_dd_workflow_setup.py
  verenigingen/www/batch-optimizer.html
  verenigingen/www/batch-optimizer.py
Due: security-tests, core-functionality-tests

branding 1
  scripts/testing/runners/test_brand_system.py
  test_brand_system.py
  verenigingen/hooks.py
  verenigingen/permissions.py
  verenigingen/public/css/tailwind.css
  verenigingen/templates/membership_application.html
  verenigingen/templates/pages/address_change.html
  verenigingen/templates/pages/application_status.html
  verenigingen/templates/pages/application_success.html
  verenigingen/templates/pages/bank_details.html
  verenigingen/templates/pages/bank_details_confirm.html
  verenigingen/templates/pages/bank_details_confirm.py
  verenigingen/templates/pages/bank_details_success.html
  verenigingen/templates/pages/brand_css.py
  verenigingen/templates/pages/brand_management.html
  verenigingen/templates/pages/brand_management.py
  verenigingen/templates/pages/chapter_join.html
  verenigingen/templates/pages/contact_request.html
  verenigingen/templates/pages/donate.html
  verenigingen/templates/pages/member_dashboard.html
  verenigingen/templates/pages/membership_fee_adjustment.html
  verenigingen/templates/pages/my_teams.html
  verenigingen/templates/pages/my_teams.py
  verenigingen/templates/pages/personal_details.html
  verenigingen/templates/pages/team_members.html
  verenigingen/templates/pages/team_members.py
  verenigingen/templates/pages/volunteer/dashboard.html
  verenigingen/templates/pages/volunteer/expenses.html
  verenigingen/test_brand_functionality.py
  verenigingen/verenigingen/doctype/brand_settings/__init__.py
  verenigingen/verenigingen/doctype/brand_settings/brand_settings.json
  verenigingen/verenigingen/doctype/brand_settings/brand_settings.py
  verenigingen/verenigingen/report/team_members/team_members.py
  verenigingen/verenigingen/workspace/verenigingen/verenigingen.json
  yarn.lock
Due: security-tests, core-functionality-tests, integration-tests-critical

branding 2
  demo_logo_integration.html
  test_bank_details_flow.py
  test_logo_functionality.py
  verenigingen/public/css/tailwind.css
  verenigingen/templates/pages/brand_management.html
  verenigingen/templates/pages/brand_management.py
  verenigingen/templates/pages/volunteer/expenses.html
  verenigingen/utils/portal_customization.py
  verenigingen/verenigingen/doctype/brand_settings/brand_settings.json
  verenigingen/verenigingen/doctype/brand_settings/brand_settings.py
  verenigingen/verenigingen/doctype/volunteer/volunteer.json
  verenigingen/verenigingen/doctype/volunteer/volunteer.py
Due: security-tests, core-functionality-tests, integration-tests-critical

updated email templates, fixed expense submission form
  test_donor_fixes.py
  test_donor_validation.py
  test_owl_theme_integration.py
  verenigingen/api/membership_application_review.py
  verenigingen/api/payment_processing.py
  verenigingen/hooks.py
  verenigingen/public/css/tailwind.css
  verenigingen/templates/base_portal.html
  verenigingen/templates/pages/brand_css.html
  verenigingen/templates/pages/brand_css.py
  verenigingen/templates/pages/brand_management.html
  verenigingen/templates/pages/brand_management.py
  verenigingen/templates/pages/member_portal.html
  verenigingen/templates/pages/member_portal.py
  verenigingen/templates/pages/volunteer/expenses.html
  verenigingen/templates/pages/volunteer/expenses.py
  verenigingen/utils/application_notifications.py
  verenigingen/verenigingen/doctype/brand_settings/brand_settings.js
  verenigingen/verenigingen/doctype/brand_settings/brand_settings.json
  verenigingen/verenigingen/doctype/brand_settings/brand_settings.py
  verenigingen/verenigingen/doctype/chapter/managers/base_manager.py
  verenigingen/verenigingen/doctype/member/member.json
  verenigingen/verenigingen/doctype/member/member.py
  verenigingen/verenigingen/doctype/member/member_utils.py
  verenigingen/verenigingen/doctype/member/scheduler.py
  verenigingen/verenigingen/doctype/membership/scheduler.py
  verenigingen/verenigingen/doctype/volunteer/volunteer.py
  verenigingen/verenigingen/doctype/volunteer_expense/volunteer_expense.json
Due: security-tests, core-functionality-tests, integration-tests-critical

bugfix
  verenigingen/verenigingen/doctype/volunteer/volunteer.py
Due: security-tests, core-functionality-tests, integration-tests-critical

setup.py
  verenigingen/setup.py
  verenigingen/setup/__init__.py
Due: security-tests, core-functionality-tests

email template installation fix
  verenigingen/setup/__init__.py
Due: security-tests, core-functionality-tests

onboarding fix attempt
  verenigingen/patches.txt
  verenigingen/patches/fix_onboarding_visibility.py
  verenigingen/setup/__init__.py
  verenigingen/verenigingen/module_onboarding/verenigingen/verenigingen.json
  verenigingen/verenigingen/onboarding_step/verenigingen_create_chapter/verenigingen_create_chapter.json
  verenigingen/verenigingen/onboarding_step/verenigingen_create_member/verenigingen_create_member.json
  verenigingen/verenigingen/onboarding_step/verenigingen_create_membership/verenigingen_create_membership.json
  verenigingen/verenigingen/onboarding_step/verenigingen_create_membership_type/verenigingen_create_membership_type.json
  verenigingen/verenigingen/onboarding_step/verenigingen_create_volunteer/verenigingen_create_volunteer.json
  verenigingen/verenigingen/onboarding_step/verenigingen_setup_settings/verenigingen_setup_settings.json
  verenigingen/verenigingen/workspace/verenigingen/verenigingen.json
Due: security-tests, core-functionality-tests

onboarding update
  verenigingen/setup/__init__.py
  verenigingen/templates/pages/install_email_templates.html
  verenigingen/templates/pages/install_email_templates.py
  verenigingen/verenigingen/module_onboarding/verenigingen/verenigingen.json
  verenigingen/verenigingen/onboarding_step/verenigingen_create_chapter/verenigingen_create_chapter.json
  verenigingen/verenigingen/onboarding_step/verenigingen_create_member/verenigingen_create_member.json
  verenigingen/verenigingen/onboarding_step/verenigingen_create_membership/verenigingen_create_membership.json
  verenigingen/verenigingen/onboarding_step/verenigingen_create_membership_type/verenigingen_create_membership_type.json
  verenigingen/verenigingen/onboarding_step/verenigingen_create_volunteer/verenigingen_create_volunteer.json
  verenigingen/verenigingen/onboarding_step/verenigingen_install_email_templates/verenigingen_install_email_templates.json
  verenigingen/verenigingen/onboarding_step/verenigingen_setup_settings/verenigingen_setup_settings.json
  verenigingen/verenigingen/workspace/verenigingen/verenigingen.json
Due: security-tests, core-functionality-tests

mt940 imports
  verenigingen/api/member_management.py
  verenigingen/hooks.py
  verenigingen/public/js/bank_transaction_list.js
  verenigingen/templates/pages/mt940_import.html
  verenigingen/templates/pages/mt940_import.py
  verenigingen/verenigingen/doctype/mt940_import/__init__.py
  verenigingen/verenigingen/doctype/mt940_import/mt940_import.js
  verenigingen/verenigingen/doctype/mt940_import/mt940_import.json
  verenigingen/verenigingen/doctype/mt940_import/mt940_import.py
  verenigingen/verenigingen/doctype/mt940_import/test_mt940_import.py
  verenigingen/verenigingen/workspace/verenigingen/verenigingen.json
Due: security-tests, core-functionality-tests, integration-tests-critical

more tests
  TEST_ORGANIZATION_SUMMARY.md
  docs/fixes/RECENT_CHANGES_TEST_SUMMARY.md
  scripts/testing/legacy/README.md
  scripts/testing/legacy/run_recent_changes_tests.py
  scripts/testing/legacy/test_address_ui_quick.py
  scripts/testing/legacy/test_debug_address.py
  scripts/testing/legacy/test_field_population.py
  verenigingen/api/membership_application.py
  verenigingen/public/js/membership_application.js
  verenigingen/templates/pages/apply_for_membership_new.html
  verenigingen/tests/VALIDATION_TESTS_README.md
  verenigingen/tests/test_application_special_chars.py
  verenigingen/tests/test_application_submission_validation.py
  verenigingen/tests/test_complete_application_flow.py
  verenigingen/tests/test_doctype_validation_comprehensive.py
  verenigingen/tests/test_payment_interval_fix.py
  verenigingen/tests/test_runner.py
  verenigingen/tests/test_special_characters_validation.py
  verenigingen/tests/test_validation_regression.py
  verenigingen/utils/application_helpers.py
  verenigingen/utils/application_validators.py
  verenigingen/verenigingen/doctype/member/member.py
Due: security-tests, core-functionality-tests, integration-tests-critical

subscription fix
  scripts/testing/test_subscription_date_alignment.py
  verenigingen/utils/application_payments.py
  verenigingen/utils/subscription_period_calculator.py
  verenigingen/verenigingen/doctype/member/scheduler.py
  verenigingen/verenigingen/doctype/membership/membership.py
Due: security-tests, core-functionality-tests, integration-tests-critical

chapter change logic
  final_comprehensive_test.py
  run_chapter_assignment_tests.py
  verenigingen/public/js/member/js_modules/chapter-history-utils.js
  verenigingen/public/js/member/js_modules/chapter-utils.js
  verenigingen/tests/test_chapter_assignment_comprehensive.py
  verenigingen/verenigingen/doctype/chapter/chapter.py
  verenigingen/verenigingen/doctype/member/member.js
  verenigingen/verenigingen/doctype/member/scheduler.py
Due: security-tests, core-functionality-tests, integration-tests-critical

bug fixes
  verenigingen/api/membership_application.py
  verenigingen/api/suspension_api.py
  verenigingen/public/js/membership_application.js
  verenigingen/templates/pages/bank_details.html
  verenigingen/templates/pages/bank_details.py
  verenigingen/templates/pages/bank_details_confirm.py
  verenigingen/templates/pages/bank_details_success.html
  verenigingen/templates/pages/debug-membership.html
  verenigingen/templates/pages/membership_fee_adjustment.py
  verenigingen/templates/pages/test_portal.html
  verenigingen/templates/pages/test_portal.py
  verenigingen/tests/test_chapter_member_status.py
  verenigingen/tests/test_chapter_membership_workflow.py
  verenigingen/tests/test_contribution_amendment_conflicts.py
  verenigingen/tests/test_runner.py
  verenigingen/utils/application_helpers.py
  verenigingen/verenigingen/doctype/chapter_member/chapter_member.json
  verenigingen/verenigingen/doctype/contribution_amendment_request/contribution_amendment_request.py
  verenigingen/verenigingen/doctype/member/member.py
  verenigingen/verenigingen/doctype/sepa_mandate/sepa_mandate.json
  verenigingen/verenigingen/doctype/sepa_mandate/sepa_mandate.py
  verenigingen/verenigingen/report/chapter_members/chapter_members.js
  verenigingen/verenigingen/report/chapter_members/chapter_members.py
Due: security-tests, core-functionality-tests, integration-tests-critical

cleanup
  verenigingen/public/js/member/js_modules/ui-utils.js
  verenigingen/verenigingen/doctype/member/member_utils.py
Due: security-tests, core-functionality-tests, integration-tests-critical
