Repository nlvegan/verenigingen: changes, and which pre-commit hooks are due for each by the changed paths.
All: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, workspace-validator, field-validation-only, pytest-coverage-critical

Path conditions:
  doctype-field-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py)
  sql-field-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/)
  frappe-api-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/)
  enhanced-field-validator: any of: \.(py|html|js)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py)
  template-field-validator: any of: \.(html|js)$, but not: ^(tests/|test_|.*_test\.(html|js)|debug_|.*_debug\.(html|js)|scripts/testing/|scripts/debug/|frontend_tests/|node_modules/)
  javascript-doctype-validator: any of: \.js$, but not: ^(tests/|test_|.*_test\.js|debug_|.*_debug\.js|scripts/testing/|scripts/debug/|frontend_tests/|node_modules/)
  eslint: any of: \.js$, but not: ^(node_modules/|archived_unused/|scripts/analysis/|scripts/monitoring/|scripts/performance/|scripts/rollback/|scripts/security/|debug_utils/|dev_scripts/)|\.min\.js$|\.bundle\.js$
  fast-method-validator: any of: \.py$, but not: ^(archived_unused/|archived_removal/|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|.*_test\.py|debug_.*\.py)
  workspace-validator: any of: ^(verenigingen/fixtures/workspace\.json|verenigingen/api/workspace_.*\.py)$
  field-validation-only: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/)
  pytest-coverage-critical: any of: \.py$, but not: ^(migrations/|fixtures/|scripts/testing/|scripts/debug/|.*_debug\.py|test_.*\.py)

added dashboard for financial data tracking
  test_pre_commit.py
  verenigingen/fixtures/item.json
  verenigingen/fixtures/item_group.json
  verenigingen/fixtures/membership_dues_schedule.json
  verenigingen/fixtures/membership_type.json
  verenigingen/fixtures/workspace.json
  verenigingen/hooks.py
  verenigingen/verenigingen/workspace/e_boekhouden/e_boekhouden.json
  verenigingen/verenigingen/workspace/verenigingen/verenigingen.json
  verenigingen/verenigingen_payments/dashboard_chart/membership_revenue_projection_chart/membership_revenue_projection_chart.json
  verenigingen/verenigingen_payments/dashboard_chart/monthly_revenue_trends/monthly_revenue_trends.json
  verenigingen/verenigingen_payments/dashboard_chart/new_vs_renewal_revenue/new_vs_renewal_revenue.json
  verenigingen/verenigingen_payments/dashboard_chart/outstanding_invoices_by_age/outstanding_invoices_by_age.json
  verenigingen/verenigingen_payments/dashboard_chart/revenue_by_membership_type/revenue_by_membership_type.json
  verenigingen/verenigingen_payments/report/membership_revenue_projection/__init__.py
  verenigingen/verenigingen_payments/report/membership_revenue_projection/membership_revenue_projection.json
  verenigingen/verenigingen_payments/report/membership_revenue_projection/membership_revenue_projection.py
  verenigingen/verenigingen_payments/verenigingen_payments_dashboard/member_payment_development/member_payment_development.json
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, workspace-validator, field-validation-only, pytest-coverage-critical

workspace validation tool improvement
  .pre-commit-config.yaml
  scripts/validate_workspace_content.py
  scripts/validation/ast_field_analyzer.py
  scripts/validation/doctype_field_validator.py
  scripts/validation/frappe_api_confidence_validator.py
  scripts/validation/sql_field_reference_validator.py
  test_pre_commit.py
  validation_tool_inventory.md
  verenigingen/api/workspace_content_validator.py
  verenigingen/utils/execute_workspace_reorg.py
  verenigingen/utils/workspace_reports_organizer.py
  verenigingen/verenigingen/workspace/verenigingen/verenigingen.json
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, workspace-validator, field-validation-only, pytest-coverage-critical

workspace validation tool improvement
  scripts/validation/ast_field_analyzer.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, field-validation-only, pytest-coverage-critical

membership analytics dashboard fixed
  verenigingen/fixtures/workspace.json
  verenigingen/verenigingen/page/membership_analytics/membership_analytics.js
  verenigingen/verenigingen/page/membership_analytics/membership_analytics.py
  verenigingen/verenigingen/workspace/verenigingen/verenigingen.json
  verenigingen/verenigingen_payments/report/__init__.py
  verenigingen/verenigingen_payments/report/membership_revenue_projection/membership_revenue_projection.js
  verenigingen/verenigingen_payments/report/membership_revenue_projection/membership_revenue_projection.json
  verenigingen/verenigingen_payments/report/membership_revenue_projection/membership_revenue_projection.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, workspace-validator, field-validation-only, pytest-coverage-critical

workspace fixxxxes
  docs/technical/workspace-debugging-guide.md
  verenigingen/verenigingen/workspace/verenigingen/__init__.py
  verenigingen/verenigingen/workspace/verenigingen/verenigingen.json
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, field-validation-only, pytest-coverage-critical

workspace destruction
  docs/technical/WORKSPACE_AUTOCORRECTION_DISABLED.md
  docs/technical/workspace-debugging-guide.md
  scripts/api_maintenance/fix_workspace.py
  scripts/fix_eboekhouden_workspace.py
  scripts/workspace_reorganization.py
  verenigingen/api/check_and_fix_workspace.py
  verenigingen/api/fix_workspace.py
  verenigingen/api/fix_workspace_links.py
  verenigingen/api/rebuild_workspace.py
  verenigingen/api/restore_workspace.py
  verenigingen/patches/v2_0/add_workflow_demo_to_workspace.py
  verenigingen/utils/execute_workspace_reorg.py
  verenigingen/utils/workspace_content_fixer.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, field-validation-only, pytest-coverage-critical

mijnrood import tool
  scripts/validation/ast_field_analyzer.py
  test_member_import.py
  test_validation.py
  verenigingen/verenigingen/doctype/member_csv_import/__init__.py
  verenigingen/verenigingen/doctype/member_csv_import/member_csv_import.js
  verenigingen/verenigingen/doctype/member_csv_import/member_csv_import.json
  verenigingen/verenigingen/doctype/member_csv_import/member_csv_import.py
  verenigingen/verenigingen/doctype/member_csv_import/test_member_csv_import.py
  verenigingen/verenigingen/page/member_csv_import/__init__.py
  verenigingen/verenigingen/page/member_csv_import/member_csv_import.js
  verenigingen/verenigingen/page/member_csv_import/member_csv_import.json
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, field-validation-only, pytest-coverage-critical

one-off test files removed
  test_member_import.py
  test_mollie_setup.py
  test_validation.py
Due: fast-method-validator

cleanup
  enhanced_security_test_results_20250809_070923.json
  health_check_20250808_083111.json
  validation_output.txt
Due: none

volunteer assignment logic refactor
  verenigingen/utils/test_board_assignments.py
  verenigingen/utils/test_volunteer_refactoring.py
  verenigingen/verenigingen/doctype/volunteer/volunteer.js
  verenigingen/verenigingen/doctype/volunteer/volunteer.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, field-validation-only, pytest-coverage-critical

api endpoints secured
  scripts/validation/ast_field_analyzer.py
  scripts/validation/hooks_parser.py
  verenigingen/verenigingen/doctype/member/member_utils.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, field-validation-only, pytest-coverage-critical

database query improvements
  verenigingen/database_patches/add_performance_indexes.py
  verenigingen/utils/optimized_queries.py
  verenigingen/utils/performance_integration.py
  verenigingen/utils/performance_testing.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, field-validation-only, pytest-coverage-critical

workspace updates, various fixes
  FINAL_SECURITY_VALIDATION_SUMMARY.md
  final_security_validation_20250815_104555.json
  verenigingen/fixtures/custom_html_block.json
  verenigingen/fixtures/workspace.json
  verenigingen/hooks.py
  verenigingen/tests/test_performance_security_fixes.py
  verenigingen/utils/address_formatter.py
  verenigingen/utils/cache_invalidation.py
  verenigingen/utils/fix_eboekhouden_workspace.py
  verenigingen/utils/optimized_queries.py
  verenigingen/utils/performance_event_handlers.py
  verenigingen/utils/performance_integration_safe.py
  verenigingen/utils/portal_menu_enhancer.py
  verenigingen/verenigingen/doctype/membership_type/membership_type.py
  verenigingen/verenigingen/report/overdue_member_payments/__init__.py
  verenigingen/verenigingen/report/overdue_member_payments/overdue_member_payments.py
  verenigingen/verenigingen/workspace/verenigingen/verenigingen.json
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, workspace-validator, field-validation-only, pytest-coverage-critical

import fix
  verenigingen/templates/pages/donate.html
  verenigingen/verenigingen/doctype/member_csv_import/member_csv_import.py
  verenigingen/verenigingen/workspace/e_boekhouden/e_boekhouden.json
  verenigingen/verenigingen/workspace/verenigingen/verenigingen.json
  verenigingen/verenigingen_payments/workspace/verenigingen_payments/verenigingen_payments.json
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, fast-method-validator, field-validation-only, pytest-coverage-critical

csv import fixes
  verenigingen/verenigingen/doctype/member/member.py
  verenigingen/verenigingen/doctype/member_csv_import/member_csv_import.js
  verenigingen/verenigingen/doctype/member_csv_import/member_csv_import.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, field-validation-only, pytest-coverage-critical

csv import status handling
  docs/technical-plans/mollie-backend-api-integration-plan.md
  verenigingen/verenigingen/doctype/member/member.py
  verenigingen/verenigingen/doctype/member_csv_import/member_csv_import.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, field-validation-only, pytest-coverage-critical

chapter join request system
  .bandit
  PROJECT_OVERVIEW.md
  verenigingen/api/chapter_join.py
  verenigingen/hooks.py
  verenigingen/test_chapter_join_request_comprehensive.py
  verenigingen/tests/fixtures/enhanced_test_factory.py
  verenigingen/utils/performance_event_handlers.py
  verenigingen/verenigingen/doctype/chapter/chapter.js
  verenigingen/verenigingen/doctype/chapter/managers/member_manager.py
  verenigingen/verenigingen/doctype/chapter_join_request/__init__.py
  verenigingen/verenigingen/doctype/chapter_join_request/chapter_join_request.json
  verenigingen/verenigingen/doctype/chapter_join_request/chapter_join_request.py
  verenigingen/verenigingen/doctype/chapter_join_request/chapter_join_request_list.js
  verenigingen/verenigingen/doctype/chapter_join_request/test_chapter_join_request.py
  verenigingen/verenigingen/doctype/member/member.js
  verenigingen/verenigingen/report/membership_dues_coverage_analysis/membership_dues_coverage_analysis.py
  verenigingen/www/chapter.html
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, field-validation-only, pytest-coverage-critical

fix: Final linting corrections
  verenigingen/verenigingen_payments/core/compliance/audit_trail.py
  verenigingen/verenigingen_payments/core/compliance/data_retention_policy.py
  verenigingen/verenigingen_payments/core/compliance/financial_validator.py
  verenigingen/verenigingen_payments/core/compliance/regulatory_reporter.py
  verenigingen/verenigingen_payments/core/resilience/circuit_breaker.py
  verenigingen/verenigingen_payments/core/resilience/rate_limiter.py
  verenigingen/verenigingen_payments/core/resilience/retry_policy.py
  verenigingen/verenigingen_payments/core/security/__init__.py
  verenigingen/verenigingen_payments/core/security/encryption_handler.py
  verenigingen/verenigingen_payments/core/security/mollie_security_manager.py
  verenigingen/verenigingen_payments/core/security/webhook_validator.py
  verenigingen/verenigingen_payments/doctype/mollie_audit_log/__init__.py
  verenigingen/verenigingen_payments/doctype/mollie_audit_log/mollie_audit_log.json
  verenigingen/verenigingen_payments/doctype/mollie_audit_log/mollie_audit_log.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, field-validation-only, pytest-coverage-critical

feat: Implement base client architecture with resilience
  verenigingen/verenigingen_payments/core/http_client.py
  verenigingen/verenigingen_payments/core/models/__init__.py
  verenigingen/verenigingen_payments/core/models/base.py
  verenigingen/verenigingen_payments/core/mollie_base_client.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, field-validation-only, pytest-coverage-critical

feat: Add response models and Balances API client
  verenigingen/verenigingen_payments/clients/__init__.py
  verenigingen/verenigingen_payments/clients/balances_client.py
  verenigingen/verenigingen_payments/core/models/balance.py
  verenigingen/verenigingen_payments/core/models/chargeback.py
  verenigingen/verenigingen_payments/core/models/invoice.py
  verenigingen/verenigingen_payments/core/models/organization.py
  verenigingen/verenigingen_payments/core/models/settlement.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, field-validation-only, pytest-coverage-critical

feat: Complete backend API client implementation
  verenigingen/verenigingen_payments/clients/chargebacks_client.py
  verenigingen/verenigingen_payments/clients/invoices_client.py
  verenigingen/verenigingen_payments/clients/organizations_client.py
  verenigingen/verenigingen_payments/clients/settlements_client.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, field-validation-only, pytest-coverage-critical

test: Add comprehensive integration tests for backend API clients
  verenigingen/tests/test_balances_client.py
  verenigingen/tests/test_chargebacks_client.py
  verenigingen/tests/test_invoices_client.py
  verenigingen/tests/test_organizations_client.py
  verenigingen/tests/test_settlements_client.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, field-validation-only, pytest-coverage-critical

feat: Implement automated reconciliation and financial dashboards
  verenigingen/verenigingen_payments/dashboards/financial_dashboard.py
  verenigingen/verenigingen_payments/workflows/reconciliation_engine.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, field-validation-only, pytest-coverage-critical

feat: Complete Phase 4 - Testing & Quality Assurance
  verenigingen/tests/e2e/test_workflow_validation.py
  verenigingen/tests/financial/test_mollie_financial_safeguards.py
  verenigingen/tests/integration/test_mollie_backend_integration.py
  verenigingen/tests/performance/test_mollie_performance_benchmarks.py
  verenigingen/tests/performance/test_performance_scenarios.py
  verenigingen/tests/resilience/test_error_recovery.py
  verenigingen/tests/security/test_security_penetration.py
  verenigingen/verenigingen_payments/monitoring/balance_monitor.py
  verenigingen/verenigingen_payments/workflows/dispute_resolution.py
  verenigingen/verenigingen_payments/workflows/subscription_manager.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, field-validation-only, pytest-coverage-critical

feat: Complete Phase 5 - Documentation & Deployment
  config/production.env.template
  docs/API_DOCUMENTATION.md
  docs/DEPLOYMENT_GUIDE.md
  docs/OPERATIONS_RUNBOOK.md
  monitoring/alerts.yml
  monitoring/grafana-dashboard.json
  monitoring/prometheus-config.yml
  verenigingen/tests/MOLLIE_TEST_IMPROVEMENTS_SUMMARY.md
  verenigingen/tests/fixtures/mollie_test_factory.py
  verenigingen/tests/test_mollie_financial_safeguards.py
  verenigingen/tests/test_mollie_performance_benchmarks.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, field-validation-only, pytest-coverage-critical

docs: Add comprehensive implementation summary
  IMPLEMENTATION_SUMMARY.md
Due: none

chapter join request
  docs/technical/DUES_SCHEDULE_SYNC.md
  verenigingen/tests/test_dues_schedule_sync.py
  verenigingen/tests/test_mollie_subscription_integration.py
  verenigingen/verenigingen/doctype/chapter/chapter.js
  verenigingen/verenigingen/doctype/chapter_join_request/chapter_join_request.js
  verenigingen/verenigingen/doctype/chapter_join_request/chapter_join_request.py
  verenigingen/verenigingen/doctype/member/member.json
  verenigingen/verenigingen/doctype/membership_dues_schedule/membership_dues_schedule.py
  verenigingen/verenigingen/doctype/membership_dues_schedule/membership_dues_schedule_hooks.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, field-validation-only, pytest-coverage-critical

fix: Complete integration layer and make tests executable
  pyproject.toml
  run_tests.py
  setup_test_env.py
  validation_report.json
  verenigingen/tests/frappe_mock.py
  verenigingen/tests/test_harness.py
  verenigingen/verenigingen_payments/integration/mollie_connector.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, field-validation-only, pytest-coverage-critical

Complete Mollie Backend Integration implementation
  IMPLEMENTATION_REPORT.md
  run_core_tests.py
  verenigingen/tests/frappe_mock.py
  verenigingen/tests/test_harness.py
  verenigingen/verenigingen_payments/core/security/encryption_handler.py
  verenigingen/verenigingen_payments/core/security/mollie_security_manager.py
  verenigingen/verenigingen_payments/workflows/__init__.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, field-validation-only, pytest-coverage-critical

csrf and validation tool updates
  SECURITY_IMPROVEMENTS_SUMMARY.md
  SECURITY_SETUP.md
  fix_unique_db.py
  scripts/validation/AST_ANALYZER_IMPROVEMENT_SUMMARY.md
  scripts/validation/README_AST_ANALYZER.md
  scripts/validation/ast_field_analyzer.py
  scripts/validation/ast_field_analyzer_complete.py
  scripts/validation/ast_field_analyzer_improved.py
  scripts/validation/ast_field_analyzer_improved_complete.py
  scripts/validation/ast_field_analyzer_original.py
  scripts/validation/compare_analyzers.py
  scripts/validation/test_ast_field_analyzer_improved.py
  scripts/validation/test_hook_file_simple.py
  scripts/validation/test_improved_analyzer.py
  verenigingen/hooks.py
  verenigingen/setup/__init__.py
  verenigingen/setup/security_setup.py
  verenigingen/templates/pages/admin_tools.html
  verenigingen/templates/pages/admin_tools.py
  verenigingen/tests/test_admin_tools_security.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, fast-method-validator, field-validation-only, pytest-coverage-critical

test: Improve test infrastructure with better mocking
  run_core_tests.py
  verenigingen/tests/frappe_mock.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, field-validation-only, pytest-coverage-critical

fix: Restore original configurations after merge
  docs/MOLLIE_BACKEND_API_DOCUMENTATION.md
  pyproject.toml
  verenigingen/tests/security_property_tests.py
  verenigingen/tests/security_test_suite.py
  verenigingen/tests/test_security_setup.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, field-validation-only, pytest-coverage-critical

small things
  .playwright-mcp/mollie-balance-report-working.png
  docs/iban-validation-enhancement.md
  docs/iban-validation-refactoring-report.md
  docs/project/PHASE_A_CLEANUP_SUMMARY.md
  docs/project/PHASE_C_UI_ENHANCEMENTS_SUMMARY.md
  docs/project/REORGANIZATION_COMPLETE.md
  verenigingen/docs/MOLLIE_BACKEND_API_DOCUMENTATION.md
  verenigingen/verenigingen_payments/report/mollie_balance_report/mollie_balance_report.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, field-validation-only, pytest-coverage-critical

small things
  verenigingen/setup/security_setup.py
  verenigingen/verenigingen_payments/clients/balances_client.py
  verenigingen/verenigingen_payments/dashboards/financial_dashboard.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, field-validation-only, pytest-coverage-critical

linting issues etc.
  .eslintrc.js
  docs/DEPLOYMENT_GUIDE.md
  verenigingen/tests/backend/components/test_sepa_reconciliation.py
  verenigingen/verenigingen_payments/clients/settlements_client.py
  verenigingen/verenigingen_payments/doctype/mollie_settings/mollie_settings.json
  verenigingen/verenigingen_payments/utils/sepa_reconciliation.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, field-validation-only, pytest-coverage-critical

feat: Rename Member CSV Import to Mijnrood CSV Import and enhance functionality
  .eslintrc.js
  cypress/README-JAVASCRIPT-TESTING.md
  cypress/integration/campaign-controller.spec.js
  cypress/integration/chapter-board-member-controller.spec.js
  cypress/integration/chapter-controller.spec.js
  cypress/integration/direct-debit-batch-controller.spec.js
  cypress/integration/member-controller.spec.js
  cypress/integration/member-payment-history-controller.spec.js
  cypress/integration/membership-controller.spec.js
  cypress/integration/sepa-mandate-controller.spec.js
  cypress/integration/volunteer-team-controller.spec.js
  docs/PROJECT_OVERVIEW.md
  docs/implementation/IMPLEMENTATION_REPORT.md
  docs/implementation/IMPLEMENTATION_SUMMARY.md
  docs/security/FINAL_SECURITY_VALIDATION_SUMMARY.md
  docs/security/SECURITY_IMPROVEMENTS_SUMMARY.md
  docs/security/SECURITY_SETUP.md
  docs/testing/HYBRID_TESTING_STRATEGY_GUIDE.md
  docs/testing/JAVASCRIPT_TEST_CATEGORIZATION_ANALYSIS.md
  docs/testing/JAVASCRIPT_TEST_IMPLEMENTATION_SUMMARY.md
  docs/validation/FIELD_VALIDATOR_INFRASTRUCTURE_REPORT.md
  docs/validation/validation_tool_inventory.md
  setup_test_env.py
  vereingingen/tests/README_MOLLIE_TESTS.md
  verenigingen/tests/frontend/doctypes/member-csv-import.test.js
  verenigingen/verenigingen/doctype/mijnrood_csv_import/__init__.py
  verenigingen/verenigingen/doctype/mijnrood_csv_import/mijnrood_csv_import.js
  verenigingen/verenigingen/doctype/mijnrood_csv_import/mijnrood_csv_import.json
  verenigingen/verenigingen/doctype/mijnrood_csv_import/mijnrood_csv_import.py
  verenigingen/verenigingen/doctype/mijnrood_csv_import/test_mijnrood_csv_import.py
  verenigingen/verenigingen/page/mijnrood_csv_import_dashboard/__init__.py
  verenigingen/verenigingen/page/mijnrood_csv_import_dashboard/mijnrood_csv_import_dashboard.js
  verenigingen/verenigingen/page/mijnrood_csv_import_dashboard/mijnrood_csv_import_dashboard.json
  verenigingen/verenigingen/workspace/verenigingen/verenigingen.json
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, field-validation-only, pytest-coverage-critical

jest
  test-results/jest-junit.xml
Due: none
