Repository 0spinboson/verenigingen: changes, and which pre-commit hooks are due for each by the changed paths.
All: security-tests, core-functionality-tests, integration-tests-critical

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: smoke-tests
        name: Run smoke tests before commit
        entry: python verenigingen/tests/test_runner.py smoke
        language: system
        pass_filenames: false
        always_run: true
        
      - id: security-tests  
        name: Run security regression tests
        entry: python run_volunteer_portal_tests.py --suite security
        language: system
        pass_filenames: false
        files: \.(py|js)$
        
      - id: core-functionality-tests
        name: Run core functionality tests on Python changes
        entry: python run_volunteer_portal_tests.py --suite core
        language: system
        pass_filenames: false
        files: \.py$
        
      - id: integration-tests-critical
        name: Run critical integration tests
        entry: bash -c 'bench run-tests --app verenigingen --module verenigingen.tests.test_termination_system && bench run-tests --app verenigingen --module verenigingen.tests.test_volunteer_portal_working'
        language: system
        pass_filenames: false
        files: (termination|volunteer|member|team).*\.py$

bugfix
  verenigingen/public/js/member/js_modules/ui-utils.js
  verenigingen/verenigingen/doctype/member/member.js
Due: security-tests

chapter membership logic fix
  test_history_fix.py
  verenigingen/utils/application_helpers.py
  verenigingen/utils/chapter_membership_history_manager.py
  verenigingen/utils/test_chapter_history.py
  verenigingen/verenigingen/doctype/chapter_membership_history/chapter_membership_history.json
  verenigingen/verenigingen/doctype/member/member.py
Due: security-tests, core-functionality-tests, integration-tests-critical

test chapter history
  verenigingen/utils/test_chapter_history.py
Due: security-tests, core-functionality-tests

chapter dashboard and mt940 fixes
  README.md
  add_chapter_chart.py
  add_expense_cards.py
  create_chapter_dashboard.py
  dashboard_completion_summary.py
  debug_dashboard_access.py
  fix_dashboard_chart_issue.py
  simple_dashboard_test.py
  test_dashboard_access.py
  test_dashboard_route.py
  test_url_access.py
  verenigingen/api/chapter_dashboard_api.py
  verenigingen/public/css/chapter_dashboard.css
  verenigingen/public/js/chapter_dashboard.js
  verenigingen/templates/pages/chapter_dashboard.html
  verenigingen/templates/pages/chapter_dashboard.py
  verenigingen/utils/expense_permissions.py
  verenigingen/utils/mt940_enhanced_fields.py
  verenigingen/utils/mt940_import.py
  verenigingen/verenigingen/doctype/mt940_import/mt940_import.js
  verenigingen/verenigingen/doctype/mt940_import/mt940_import.json
  verenigingen/verenigingen/doctype/mt940_import/mt940_import.py
Due: security-tests, core-functionality-tests

feat: Add e-Boekhouden to ERPNext migration framework
  ebh-migratie.md
  verenigingen/utils/eboekhouden_api.py
  verenigingen/verenigingen/doctype/e_boekhouden_import_log/__init__.py
  verenigingen/verenigingen/doctype/e_boekhouden_import_log/e_boekhouden_import_log.json
  verenigingen/verenigingen/doctype/e_boekhouden_import_log/e_boekhouden_import_log.py
  verenigingen/verenigingen/doctype/e_boekhouden_migration/__init__.py
  verenigingen/verenigingen/doctype/e_boekhouden_migration/e_boekhouden_migration.js
  verenigingen/verenigingen/doctype/e_boekhouden_migration/e_boekhouden_migration.json
  verenigingen/verenigingen/doctype/e_boekhouden_migration/e_boekhouden_migration.py
  verenigingen/verenigingen/doctype/e_boekhouden_settings/__init__.py
  verenigingen/verenigingen/doctype/e_boekhouden_settings/e_boekhouden_settings.js
  verenigingen/verenigingen/doctype/e_boekhouden_settings/e_boekhouden_settings.json
  verenigingen/verenigingen/doctype/e_boekhouden_settings/e_boekhouden_settings.py
Due: security-tests, core-functionality-tests

working api access
  debug_eboekhouden_settings.py
  verenigingen/api/chapter_dashboard_api.py
  verenigingen/utils/eboekhouden_api.py
  verenigingen/verenigingen/doctype/e_boekhouden_settings/e_boekhouden_settings.js
  verenigingen/verenigingen/doctype/e_boekhouden_settings/e_boekhouden_settings.json
  verenigingen/verenigingen/doctype/e_boekhouden_settings/e_boekhouden_settings.py
Due: security-tests, core-functionality-tests

step 1
  ebh-migratie.md
  verenigingen/utils/eboekhouden_api.py
  verenigingen/verenigingen/doctype/e_boekhouden_migration/e_boekhouden_migration.json
  verenigingen/verenigingen/doctype/e_boekhouden_migration/e_boekhouden_migration.py
  verenigingen/verenigingen/doctype/e_boekhouden_settings/e_boekhouden_settings.js
Due: security-tests, core-functionality-tests

step 2
  verenigingen/config/desktop.py
  verenigingen/hooks.py
  verenigingen/utils/eboekhouden_api.py
  verenigingen/verenigingen/dashboard_chart/migration_status/__init__.py
  verenigingen/verenigingen/dashboard_chart/migration_status/migration_status.json
  verenigingen/verenigingen/doctype/e_boekhouden_dashboard/__init__.py
  verenigingen/verenigingen/doctype/e_boekhouden_dashboard/e_boekhouden_dashboard.js
  verenigingen/verenigingen/doctype/e_boekhouden_dashboard/e_boekhouden_dashboard.json
  verenigingen/verenigingen/doctype/e_boekhouden_dashboard/e_boekhouden_dashboard.py
  verenigingen/verenigingen/doctype/e_boekhouden_migration/e_boekhouden_migration.py
  verenigingen/verenigingen/doctype/e_boekhouden_settings/e_boekhouden_settings.js
  verenigingen/verenigingen/workspace/e_boekhouden/__init__.py
  verenigingen/verenigingen/workspace/e_boekhouden/e_boekhouden.json
  verenigingen/www/e-boekhouden-dashboard.html
  verenigingen/www/e-boekhouden-dashboard.py
Due: security-tests, core-functionality-tests

migration dash fixes
  verenigingen/utils/eboekhouden_api.py
  verenigingen/verenigingen/doctype/e_boekhouden_migration/e_boekhouden_migration.py
  verenigingen/www/e-boekhouden-dashboard.py
Due: security-tests, core-functionality-tests

ebh migration working
  verenigingen/utils/check_invoice_files.py
  verenigingen/utils/eboekhouden_api.py
  verenigingen/utils/stock_migration.py
  verenigingen/verenigingen/doctype/e_boekhouden_dashboard/e_boekhouden_dashboard.py
  verenigingen/verenigingen/doctype/e_boekhouden_migration/e_boekhouden_migration.js
  verenigingen/verenigingen/doctype/e_boekhouden_migration/e_boekhouden_migration.json
  verenigingen/verenigingen/doctype/e_boekhouden_migration/e_boekhouden_migration.py
  verenigingen/www/e-boekhouden-dashboard.py
  verenigingen/www/e-boekhouden-status.html
  verenigingen/www/e-boekhouden-status.py
Due: security-tests, core-functionality-tests

various fixes
  DIRECT_DEBIT_BATCH_JS_COMPARISON.md
  PORTAL_BODY_CLASSES.md
  debug_workspace_issue.py
  portal_analysis.txt
  test_body_classes.py
  verenigingen/api/debug_workspace.py
  verenigingen/api/fix_workspace.py
  verenigingen/hooks.py
  verenigingen/public/css/chapter_list.css
  verenigingen/templates/base_portal.html
  verenigingen/templates/pages/chapter_dashboard.html
  verenigingen/templates/pages/chapter_dashboard.py
  verenigingen/templates/pages/contact_request.html
  verenigingen/templates/pages/contact_request.py
  verenigingen/templates/pages/member_portal.html
  verenigingen/templates/pages/member_portal.py
  verenigingen/tests/test_patches.py
  verenigingen/tests/test_sepa_notifications.py
  verenigingen/utils/portal_customization.py
  verenigingen/utils/portal_menu_enhancer.py
  verenigingen/verenigingen/doctype/brand_settings/brand_settings.py
  verenigingen/verenigingen/doctype/chapter/chapter.py
  verenigingen/verenigingen/doctype/chapter/templates/chapter_list.html
  verenigingen/verenigingen/doctype/chapter/templates/chapter_row.html
  verenigingen/verenigingen/doctype/direct_debit_batch/direct_debit_batch.js
  verenigingen/verenigingen/doctype/direct_debit_batch/direct_debit_batch.js.backup_20250626
  verenigingen/verenigingen/doctype/direct_debit_batch/test_direct_debit_batch.py
Due: security-tests, core-functionality-tests, integration-tests-critical

eboekhouden improvements
  fix_sepa_workspace.py
  refresh_eboekhouden.py
  verenigingen/patches/fix_eboekhouden_cost_center.py
  verenigingen/utils/eboekhouden_account_analysis.py
  verenigingen/utils/eboekhouden_account_type_mapping.py
  verenigingen/utils/eboekhouden_balance_api.py
  verenigingen/utils/eboekhouden_balance_check.py
  verenigingen/utils/eboekhouden_enhanced_migration.py
  verenigingen/utils/eboekhouden_fix_receivable_accounts.py
  verenigingen/utils/eboekhouden_full_migration.py
  verenigingen/utils/eboekhouden_group_analysis.py
  verenigingen/utils/eboekhouden_group_documentation.md
  verenigingen/utils/eboekhouden_migration_config.py
  verenigingen/utils/eboekhouden_migration_enhanced.py
  verenigingen/utils/eboekhouden_migration_improved.py
  verenigingen/utils/eboekhouden_migration_logger.py
  verenigingen/utils/eboekhouden_migration_summary.py
  verenigingen/utils/eboekhouden_opening_balance.py
  verenigingen/utils/eboekhouden_payment_migration.py
  verenigingen/utils/eboekhouden_proper_opening_balance.py
  verenigingen/utils/eboekhouden_trial_balance.py
  verenigingen/utils/sepa_reconciliation.py
  verenigingen/utils/stock_migration_fixed.py
  verenigingen/utils/test_eboekhouden_groups.py
  verenigingen/verenigingen/doctype/e_boekhouden_migration/e_boekhouden_migration.js
  verenigingen/verenigingen/doctype/e_boekhouden_migration/e_boekhouden_migration.py
  verenigingen/verenigingen/workspace/sepa_management/sepa_management.json
Due: security-tests, core-functionality-tests

fixes
  test_cost_center_fix.py
  verenigingen/api/debug_workspace.py
  verenigingen/api/debug_workspace_routing.py
  verenigingen/api/eboekhouden_migration_date_fix.py
  verenigingen/api/eboekhouden_migration_enhanced.py
  verenigingen/api/eboekhouden_migration_redesign.py
  verenigingen/api/eboekhouden_mutation_analysis.py
  verenigingen/api/fix_account_types_simple.py
  verenigingen/api/fix_workspace_breadcrumb.py
  verenigingen/api/sepa_batch_ui.py
  verenigingen/templates/pages/fix_account_types.html
  verenigingen/templates/pages/fix_account_types.py
  verenigingen/templates/pages/migration_redesign_proposal.md
  verenigingen/utils/apply_category_mapping_fixed.py
  verenigingen/utils/debug_mapping_apply.py
  verenigingen/utils/debug_vw_mapping.py
  verenigingen/utils/eboekhouden_category_mapping_fixed.py
  verenigingen/utils/eboekhouden_cost_center_fix.py
  verenigingen/utils/eboekhouden_grouped_migration.py
  verenigingen/utils/eboekhouden_journal_entry_fix.py
  verenigingen/utils/eboekhouden_migration_enhancements.py
  verenigingen/utils/eboekhouden_migration_patch.py
  verenigingen/utils/eboekhouden_smart_account_typing.py
  verenigingen/utils/fix_migration_issues.py
  verenigingen/utils/fix_orphaned_cost_centers.py
  verenigingen/utils/fix_receivable_payable_entries.py
  verenigingen/utils/test_specific_mapping.py
  verenigingen/vereiningen/dashboard_chart/sepa_payment_status/sepa_payment_status.json
  verenigingen/verenigingen/doctype/e_boekhouden_migration/e_boekhouden_migration.js
  verenigingen/verenigingen/doctype/e_boekhouden_migration/e_boekhouden_migration.py
  verenigingen/verenigingen/doctype/e_boekhouden_migration/e_boekhouden_migration_original.js
  verenigingen/verenigingen/workspace/e_boekhouden/e_boekhouden.json
Due: security-tests, core-functionality-tests

sepa fix
  verenigingen/verenigingen/dashboard_chart/sepa_payment_status/sepa_payment_status.json
Due: none

some updates to testing logic
  verenigingen/api/add_test_data_link.py
  verenigingen/api/create_onboarding_steps.py
  verenigingen/api/generate_test_applications.py
  verenigingen/api/generate_test_members.py
  verenigingen/api/generate_test_membership_types.py
  verenigingen/templates/pages/generate_test_data.html
  verenigingen/templates/pages/generate_test_data.py
  verenigingen/utils/subscription_period_calculator.py
  verenigingen/verenigingen/doctype/membership_type/membership_type.json
  verenigingen/verenigingen/doctype/membership_type/membership_type.py
Due: security-tests, core-functionality-tests, integration-tests-critical

membership logic updates
  patches.txt
  verenigingen/tests/test_data_factory.py
  verenigingen/tests/test_membership_type_minimum_period.py
  verenigingen/tests/test_membership_utilities.py
  verenigingen/tests/test_membership_utilities_example.py
  verenigingen/tests/test_per_type_minimum_period.py
  verenigingen/verenigingen/doctype/membership/membership.py
  verenigingen/verenigingen/doctype/membership_type/membership_type.json
  verenigingen/verenigingen/doctype/verenigingen_settings/verenigingen_settings.json
Due: security-tests, core-functionality-tests, integration-tests-critical

partial work on test suite
  membertestsuitelayout.md
  verenigingen/tests/test_personas.py
  verenigingen/tests/unit/api/test_member_management_api.py
  verenigingen/tests/unit/api/test_membership_application_api.py
  verenigingen/tests/unit/api/test_payment_processing_api.py
  verenigingen/tests/unit/controllers/test_member_controller.py
  verenigingen/tests/unit/controllers/test_membership_controller.py
  verenigingen/tests/unit/controllers/test_volunteer_controller.py
  verenigingen/tests/utils/assertions.py
  verenigingen/tests/utils/base.py
  verenigingen/tests/utils/factories.py
  verenigingen/tests/utils/setup_helpers.py
Due: security-tests, core-functionality-tests, integration-tests-critical

manual
  membertestsuitelayout.md
Due: none

test suite
  verenigingen/tests/fixtures/__init__.py
  verenigingen/tests/fixtures/test_personas.py
  verenigingen/tests/integration/__init__.py
  verenigingen/tests/security/__init__.py
  verenigingen/tests/test_comprehensive_suite_demo.py
  verenigingen/tests/workflows/__init__.py
  verenigingen/tests/workflows/test_member_lifecycle.py
  verenigingen/tests/workflows/test_payment_failure_recovery.py
  verenigingen/tests/workflows/test_volunteer_journey.py
Due: security-tests, core-functionality-tests, integration-tests-critical

test fixes
  check_member_workspace.py
  debug_breadcrumb_issue.py
  debug_chapter_status.py
  debug_member_workspace.py
  debug_workspace_breadcrumb.py
  debug_workspace_doctype_mapping.py
  fix_workspace_order.py
  js_action_test_coverage_report.md
  verenigingen/api/add_user_to_chapter.py
  verenigingen/api/check_chapter_fields.py
  verenigingen/api/check_historical_failures.py
  verenigingen/api/check_member_chapters.py
  verenigingen/api/debug_current_user_chapters.py
  verenigingen/api/find_failed_transactions.py
  verenigingen/api/fix_chapter_visibility.py
  verenigingen/api/get_user_chapters.py
  verenigingen/templates/pages/member_portal.html
  verenigingen/tests/unit/controllers/test_member_controller.py
  verenigingen/tests/unit/controllers/test_membership_controller.py
  verenigingen/tests/utils/factories.py
  verenigingen/tests/workflows/test_member_lifecycle.py
  verenigingen/utils/__init__.py
  verenigingen/verenigingen/doctype/chapter/managers/board_manager.py
  verenigingen/verenigingen/doctype/chapter/test_chapter.py
  verenigingen/verenigingen/doctype/member/member.py
  verenigingen/verenigingen/doctype/membership/membership.py
  verenigingen/verenigingen/doctype/volunteer/volunteer.py
  verenigingen/verenigingen/onboarding_step/verenigingen_create_member/verenigingen_create_member.json
  verenigingen/verenigingen/workspace/sepa_management/sepa_management.json
  verenigingen/verenigingen/workspace/verenigingen/verenigingen.json
  verenigingen/www/onboarding_member_setup.html
  verenigingen/www/onboarding_member_setup.py
  verenigingen/www/working-chapters.html
Due: security-tests, core-functionality-tests, integration-tests-critical

test
  verenigingen/tests/test_volunteer_api.py
Due: security-tests, core-functionality-tests, integration-tests-critical

more tests
  verenigingen/tests/integration/test_javascript_api_integration.py
  verenigingen/tests/unit/api/test_chapter_api.py
  verenigingen/tests/unit/api/test_member_api.py
  verenigingen/tests/unit/api/test_volunteer_api.py
  verenigingen/tests/unit/controllers/test_volunteer_controller.py
Due: security-tests, core-functionality-tests, integration-tests-critical

test fixes
  scripts/testing/runners/run_lifecycle_tests.py
  verenigingen/tests/workflows/test_member_lifecycle.py
Due: security-tests, core-functionality-tests, integration-tests-critical

typo
  check_all_mutation_types.py
Due: security-tests, core-functionality-tests

typo fix
  verenigingen/hooks.py
Due: security-tests, core-functionality-tests

ebh migration fixes
  fix_root_account_groups.py
  verenigingen/setup/__init__.py
  verenigingen/utils/eboekhouden_account_group_fix.py
  verenigingen/verenigingen/doctype/e_boekhouden_migration/e_boekhouden_migration.py
Due: security-tests, core-functionality-tests

another fix attempt
  verenigingen/patches.txt
  verenigingen/patches/v1_0/create_eboekhouden_fields.py
Due: security-tests, core-functionality-tests

fixes 2
  debug_date_analysis.py
  verenigingen/verenigingen/doctype/e_boekhouden_migration/e_boekhouden_migration.json
  verenigingen/verenigingen/doctype/e_boekhouden_migration/e_boekhouden_migration.py
Due: security-tests, core-functionality-tests

ebh fix attempt #1
  test_debug_functions.py
  test_payment_cleanup.py
  verenigingen/templates/pages/eboekhouden_migration_config.html
  verenigingen/templates/pages/eboekhouden_migration_config.py
  verenigingen/utils/create_unreconciled_payment.py
  verenigingen/utils/eboekhouden_mapping_migration.py
  verenigingen/utils/eboekhouden_payment_naming.py
  verenigingen/utils/eboekhouden_soap_migration.py
  verenigingen/verenigingen/doctype/e_boekhouden_migration/e_boekhouden_migration.py
Due: security-tests, core-functionality-tests

typos fixed
  verenigingen/e_boekhouden/__init__.py
  verenigingen/e_boekhouden/api.py
  verenigingen/public/js/eboekhouden_migration_config.js
  verenigingen/templates/pages/eboekhouden_migration_config.html
  verenigingen/tests/integration/test_javascript_api_integration.py
  verenigingen/tests/unit/api/test_chapter_api.py
  verenigingen/tests/unit/api/test_member_api.py
  verenigingen/tests/unit/api/test_volunteer_api.py
Due: security-tests, core-functionality-tests, integration-tests-critical

small fix
  CORRECTED_CLEANUP_SUMMARY.md
  check_dependencies.py
  verenigingen/utils/error_log_fix.py
  verenigingen/utils/stock_migration_warehouse_fix.py
Due: security-tests, core-functionality-tests

onboarding fixes
  verenigingen/api/email_template_manager.py
  verenigingen/api/membership_application_review.py
  verenigingen/setup/__init__.py
  verenigingen/templates/pages/install_email_templates.py
  verenigingen/templates/pages/onboarding_member_setup.html
  verenigingen/templates/pages/onboarding_member_setup.py
  verenigingen/verenigingen/onboarding_step/verenigingen_install_email_templates/verenigingen_install_email_templates.json
Due: security-tests, core-functionality-tests, integration-tests-critical
