Repository nlvegan/verenigingen: changes, and which pre-commit hooks are due for each by the changed paths.
All: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, workspace-validator, field-validation-only, pytest-coverage-critical

Path conditions:
  doctype-field-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py)
  sql-field-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/)
  frappe-api-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/)
  enhanced-field-validator: any of: \.(py|html|js)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py)
  template-field-validator: any of: \.(html|js)$, but not: ^(tests/|test_|.*_test\.(html|js)|debug_|.*_debug\.(html|js)|scripts/testing/|scripts/debug/|frontend_tests/|node_modules/)
  javascript-doctype-validator: any of: \.js$, but not: ^(tests/|test_|.*_test\.js|debug_|.*_debug\.js|scripts/testing/|scripts/debug/|frontend_tests/|node_modules/)
  eslint: any of: \.js$, but not: ^(node_modules/|archived_unused/|scripts/analysis/|scripts/monitoring/|scripts/performance/|scripts/rollback/|scripts/security/|debug_utils/|dev_scripts/)|\.min\.js$|\.bundle\.js$
  fast-method-validator: any of: \.py$, but not: ^(archived_unused/|archived_removal/|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|.*_test\.py|debug_.*\.py)
  workspace-validator: any of: ^(verenigingen/fixtures/workspace\.json|verenigingen/api/workspace_.*\.py)$
  field-validation-only: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/)
  pytest-coverage-critical: any of: \.py$, but not: ^(migrations/|fixtures/|scripts/testing/|scripts/debug/|.*_debug\.py|test_.*\.py)

mv
  scripts/debug/payment_history_debugger.py
Due: none

mv
  scripts/debug/incremental_update_debug_test.py
Due: none

admin tools update
  verenigingen/api/anbi_operations.py
  verenigingen/e_boekhouden/utils/cleanup_utils.py
  verenigingen/fixtures/workspace.json
  verenigingen/patches/v2_0/migrate_team_role_integration.py
  verenigingen/public/css/tailwind.css
  verenigingen/templates/pages/admin_tools.html
  verenigingen/templates/pages/admin_tools.py
  verenigingen/tests/test_anbi_donation_agreement_validation.py
  verenigingen/utils/api_doc_generator.py
  verenigingen/utils/invoice_management.py
  verenigingen/utils/validate_team_role_migration.py
  verenigingen/verenigingen/doctype/brand_settings/brand_settings.py
  verenigingen/verenigingen/doctype/member/member.js
  verenigingen/verenigingen/doctype/membership_dues_schedule/membership_dues_schedule.py
  verenigingen/verenigingen/doctype/periodic_donation_agreement/periodic_donation_agreement.py
  verenigingen/verenigingen/doctype/team/team.py
  verenigingen/verenigingen/doctype/team_role/team_role.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, workspace-validator, field-validation-only, pytest-coverage-critical

admin tools update
  verenigingen/e_boekhouden/utils/cleanup_utils.py
  verenigingen/templates/pages/admin_tools.html
  verenigingen/templates/pages/admin_tools.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, fast-method-validator, field-validation-only, pytest-coverage-critical

unnecessary jinja2 cleanup
  JS_JINJA2_INVENTORY.md
  test_template_js_fixes.py
  verenigingen/api/test_template_fixes.py
  verenigingen/e_boekhouden/utils/eboekhouden_rest_full_migration.py
  verenigingen/templates/membership_application.html
  verenigingen/templates/pages/address_change.html
  verenigingen/templates/pages/contact_request.html
  verenigingen/templates/pages/dues_schedule_admin.html
  verenigingen/templates/pages/financial_dashboard.html
  verenigingen/templates/pages/membership_fee_adjustment.html
  verenigingen/templates/pages/my_dues_schedule.html
  verenigingen/templates/pages/payment_dashboard.html
  verenigingen/templates/pages/schedule_maintenance.html
  verenigingen/templates/pages/volunteer/expenses.html
  verenigingen/verenigingen/doctype/periodic_donation_agreement/periodic_donation_agreement.py
  verenigingen/www/batch-optimizer.html
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, fast-method-validator, field-validation-only, pytest-coverage-critical

validation fix
  scripts/validation/test_advanced_js_validator.py
  scripts/validation/workspace_validator.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, field-validation-only, pytest-coverage-critical

eboekhouden cleanup
  .bandit
  BANDIT_CONFIGURATION_GUIDE.md
  BANDIT_SECURITY_ANALYSIS.md
  EBOEKHOUDEN_MIGRATION_CLEANUP_COMPLETE.md
  EBOEKHOUDEN_MIGRATION_CONSOLIDATION_COMPLETE.md
  EBOEKHOUDEN_MIGRATION_CONSOLIDATION_PLAN.md
  EBOEKHOUDEN_MIGRATION_PATHS_ANALYSIS.md
  EBOEKHOUDEN_SSoT_INVESTIGATION_COMPLETE.md
  EBOEKHOUDEN_SSoT_VIOLATIONS_REPORT.md
  SECURITY_FIXES_REPORT.md
  archived_unused/eboekhouden_unified_processor.py
  scripts/deployment/generate_version.py
  scripts/testing/phase4_comprehensive_validation.py
  scripts/testing/run_sepa_reconciliation_tests.py
  scripts/testing/runners/template_validation_test_runner.py
  verenigingen/api/debug_doctype_fields.py
  verenigingen/api/eboekhouden_quick_test.py
  verenigingen/api/eboekhouden_test_runner.py
  verenigingen/api/migration_cleanup_test.py
  verenigingen/e_boekhouden/doctype/e_boekhouden_migration/e_boekhouden_migration.json
  verenigingen/e_boekhouden/doctype/e_boekhouden_migration/e_boekhouden_migration.py
  verenigingen/e_boekhouden/utils/eboekhouden_api.py
  verenigingen/e_boekhouden/utils/eboekhouden_enhanced_migration.py
  verenigingen/e_boekhouden/utils/eboekhouden_rest_full_migration.py
  verenigingen/patches/v1_0/add_address_matching_optimization.py
  verenigingen/utils/address_matching/dutch_address_normalizer.py
  verenigingen/utils/cleanup_e_boekhouden_codebase.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, field-validation-only, pytest-coverage-critical

cost center mapping added
  docs/COST_CENTER_IMPLEMENTATION.md
  docs/PHASE2_IMPLEMENTATION_SUMMARY.md
  docs/TECHNICAL_ARCHITECTURE.md
  docs/USER_GUIDE_COST_CENTER_CREATION.md
  docs/testing/cost_center_creation_test_suite.md
  scripts/testing/run_cost_center_tests.py
  vereiningenlication/api/test_expense_fix.py
  verenigingen/api/check_opening_balance_date.py
  verenigingen/e_boekhouden/doctype/e_boekhouden_account_mapping/README.md
  verenigingen/e_boekhouden/doctype/e_boekhouden_account_mapping/__init__.py
  verenigingen/e_boekhouden/doctype/e_boekhouden_account_mapping/api.py
  verenigingen/e_boekhouden/doctype/e_boekhouden_account_mapping/e_boekhouden_account_mapping.json
  verenigingen/e_boekhouden/doctype/e_boekhouden_account_mapping/e_boekhouden_account_mapping.py
  verenigingen/e_boekhouden/doctype/e_boekhouden_account_mapping/eboekhouden_account_analyzer.py
  verenigingen/e_boekhouden/doctype/e_boekhouden_account_mapping/eboekhouden_migration_config.html
  verenigingen/e_boekhouden/doctype/e_boekhouden_account_mapping/eboekhouden_migration_config.py
  verenigingen/e_boekhouden/doctype/e_boekhouden_migration/e_boekhouden_migration.py
  verenigingen/e_boekhouden/doctype/e_boekhouden_settings/e_boekhouden_settings.js
  verenigingen/e_boekhouden/doctype/e_boekhouden_settings/e_boekhouden_settings.json
  verenigingen/e_boekhouden/doctype/e_boekhouden_settings/e_boekhouden_settings.py
  verenigingen/e_boekhouden/doctype/eboekhouden_cost_center_mapping/__init__.py
  verenigingen/e_boekhouden/doctype/eboekhouden_cost_center_mapping/eboekhouden_cost_center_mapping.json
  verenigingen/e_boekhouden/doctype/eboekhouden_cost_center_mapping/eboekhouden_cost_center_mapping.py
  verenigingen/e_boekhouden/utils/e_boekhouden_account_mapping_setup.py
  verenigingen/e_boekhouden/utils/eboekhouden_rest_full_migration.py
  verenigingen/e_boekhouden/utils/invoice_helpers.py
  verenigingen/events/subscribers/expense_history_subscriber.py
  verenigingen/templates/pages/eboekhouden_mapping_review.html
  verenigingen/tests/e_boekhouden/fixtures/cost_center_test_factory.py
  verenigingen/tests/e_boekhouden/test_cost_center_creation_comprehensive.py
  verenigingen/tests/e_boekhouden/test_cost_center_ui_integration.py
  verenigingen/verenigingen/doctype/member/mixins/expense_mixin.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, field-validation-only, pytest-coverage-critical

lala
  verenigingen/e_boekhouden/doctype/e_boekhouden_dashboard/e_boekhouden_dashboard.json
  verenigingen/e_boekhouden/doctype/e_boekhouden_import_log/e_boekhouden_import_log.json
  verenigingen/e_boekhouden/doctype/e_boekhouden_migration/e_boekhouden_migration.json
  verenigingen/e_boekhouden/doctype/e_boekhouden_settings/e_boekhouden_settings.json
  verenigingen/e_boekhouden/doctype/party_enrichment_queue/party_enrichment_queue.json
  verenigingen/fixtures/role.json
Due: none

validation fix
  scripts/validation/legacy_field_validator.py
  scripts/validation/loop_context_field_validator.py
  verenigingen/e_boekhouden/api/eboekhouden_migration_redesign.py
  verenigingen/tests/utils/setup_helpers.py
  verenigingen/utils/security/api_classifier.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, field-validation-only, pytest-coverage-critical

email system phase 3
  COMPREHENSIVE_VALIDATION_INVENTORY_VERIFIED.md
  CORRECTED_VALIDATION_INFRASTRUCTURE_ANALYSIS.md
  DOCTYPE_LOADING_FIX_REPORT.md
  FIELD_VALIDATOR_INFRASTRUCTURE_REPORT.md
  TEMPLATE_JAVASCRIPT_VALIDATION_ANALYSIS.md
  api_security_validation_20250809_070918.json
  database_field_inventory.json
  enhanced_security_test_results_20250809_070923.json
  test_email_basic.py
  verenigingen/api/test_expense_fix.py
  verenigingen/email/newsletter_templates.py
  verenigingen/templates/pages/volunteer/expenses.py
  verenigingen/tests/test_email_newsletter_system.py
  verenigingen/verenigingen/doctype/member/mixins/payment_mixin.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, field-validation-only, pytest-coverage-critical

validation tool updates
  .gitignore
  .pre-commit-config.yaml
  COMPREHENSIVE_VALIDATION_INVENTORY_VERIFIED.md
  CORRECTED_VALIDATION_INFRASTRUCTURE_ANALYSIS.md
  scripts/validation/ast_field_analyzer.py
  scripts/validation/balanced_field_validator.py
  scripts/validation/comprehensive_field_validator.py
  scripts/validation/context_aware_field_validator.py
  scripts/validation/database_query_validator.py
  scripts/validation/doctype_field_analyzer.py
  scripts/validation/doctype_loader.py
  scripts/validation/field_reference_validator.py
  scripts/validation/frappe_api_confidence_validator.py
  scripts/validation/frappe_hooks_validator.py
  scripts/validation/improved_frappe_api_validator.py
  scripts/validation/js_python_parameter_validator.py
  scripts/validation/method_resolution_validator.py
  scripts/validation/migrate_to_unified_loader.py
  scripts/validation/quick_validator_test.py
  scripts/validation/sql_field_validator.py
  scripts/validation/template_field_validator.py
  scripts/validation/template_variable_validator.py
  scripts/validation/test_validators_performance.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, field-validation-only, pytest-coverage-critical

validation updates
  .pre-commit-config.yaml
  ENHANCED_JS_PYTHON_VALIDATOR_SUMMARY.md
  PRE_COMMIT_VALIDATION_SUMMARY.md
  VALIDATOR_FIXES_SUMMARY.md
  scripts/validation/js_python_parameter_validator.py
  scripts/validation/test_enhanced_validator.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, field-validation-only, pytest-coverage-critical

validation tool fixed
  scripts/testing/run_critical_business_logic_tests.py
  scripts/validation/js_python_parameter_validator.py
  scripts/validation/template_variable_validator.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, field-validation-only, pytest-coverage-critical

dd batch tests
  scripts/validation/config_manager.py
  scripts/validation/database_field_reference_validator_consolidated.py
  scripts/validation/environment_handler.py
  scripts/validation/validation_config.yaml
  verenigingen/api/dd_batch_api.py
  verenigingen/tests/test_dd_batch_api_integration.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, field-validation-only, pytest-coverage-critical

validation cleanup phase 1
  .flake8
  .github/workflows/validation-infrastructure-tests.yml
  .pre-commit-config.yaml
  .pylintrc
  CORRECTED_VALIDATION_INFRASTRUCTURE_ANALYSIS.md
  SCHEMA_AWARE_VALIDATOR_CRITICAL_FIX_REPORT.md
  archived_unused/debug_ast_method_detection.py
  archived_unused/debug_field_validation.py
  archived_unused/debug_improved_validator.py
  archived_unused/debug_object_type_detection.py
  archived_unused/debug_pattern2.py
  archived_unused/debug_pattern_bug.py
  archived_unused/debug_validation_pipeline.py
  archived_unused/debug_validator.py
  archived_unused/debug_validator_test.py
  archived_unused/js_python_parameter_validator.py
  archived_unused/multi_type_validator_incomplete.py
  archived_unused/sql_field_validator.py
  scripts/validation/COMPREHENSIVE_GAP_ANALYSIS_REPORT.md
  scripts/validation/COMPREHENSIVE_VALIDATOR_ANALYSIS.md
  scripts/validation/VALIDATOR_ORGANIZATION_FINAL.md
  scripts/validation/doctype_field_validator.py
  scripts/validation/javascript_doctype_field_validator.py
  scripts/validation/sql_field_reference_validator.py
  scripts/validation/unified_validation_engine.py
  verenigingen/verenigingen/doctype/sepa_audit_log/sepa_audit_log.js
  verenigingen/verenigingen/doctype/sepa_mandate_usage/sepa_mandate_usage.js
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, field-validation-only, pytest-coverage-critical

kascie added
  docs/KASCOMMISSIE_SETUP.md
  verenigingen/fixtures/role.json
  verenigingen/fixtures/role_profile_kascommissie.json
  verenigingen/fixtures/team.json
  verenigingen/fixtures/team_role.json
Due: none

typo
  scripts/validation/test_doctype_loader_comprehensive.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, field-validation-only, pytest-coverage-critical

fixture updates
  scripts/add_section_break.py
  scripts/analyze_eboekhouden_fields.py
  scripts/remove_duplicate_fields.py
  scripts/update_field_descriptions.py
  verenigingen/api/check_eboekhouden_fields.py
  verenigingen/fixtures/custom_field.json
  verenigingen/fixtures/item.json
  verenigingen/fixtures/membership_dues_schedule.json
  verenigingen/fixtures/membership_type.json
  verenigingen/patches/v1_0/create_eboekhouden_fields.py
  verenigingen/setup/__init__.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, field-validation-only, pytest-coverage-critical

typo
  package-lock.json
  package.json
  verenigingen/verenigingen/doctype/brand_settings/brand_settings.py
  yarn.lock
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, field-validation-only, pytest-coverage-critical

default dues invoice receivable acct made configurable
  verenigingen/hooks.py
  verenigingen/utils/debug/test_hooks_validation.py
  verenigingen/utils/debug/test_sales_invoice_account_handler.py
  verenigingen/utils/sales_invoice_account_handler.py
  verenigingen/verenigingen/doctype/verenigingen_settings/verenigingen_settings.json
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, field-validation-only, pytest-coverage-critical

mollie
  test_mollie_setup.py
  verenigingen/templates/includes/mollie_checkout.js
  verenigingen/templates/pages/mollie_checkout.css
  verenigingen/templates/pages/mollie_checkout.html
  verenigingen/templates/pages/mollie_checkout.py
  verenigingen/utils/payment_gateways.py
  verenigingen/verenigingen/doctype/donation/donation.json
  verenigingen/verenigingen/doctype/member/member.json
  verenigingen/verenigingen/doctype/mollie_settings/__init__.py
  verenigingen/verenigingen/doctype/mollie_settings/mollie_settings.js
  verenigingen/verenigingen/doctype/mollie_settings/mollie_settings.json
  verenigingen/verenigingen/doctype/mollie_settings/mollie_settings.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, field-validation-only, pytest-coverage-critical

gh workflow fix
  .github/workflows/validation-infrastructure-tests.yml
Due: none

ver payments ws
  verenigingen/verenigingen_payments/workspace/__init__.py
  verenigingen/verenigingen_payments/workspace/verenigingen_payments/__init__.py
  verenigingen/verenigingen_payments/workspace/verenigingen_payments/verenigingen_payments.json
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, field-validation-only, pytest-coverage-critical

workspaces fixed
  DUES_INVOICE_PAYMENT_TRACKING_ANALYSIS.md
  ENHANCED_JS_PYTHON_VALIDATOR_SUMMARY.md
  PRE_COMMIT_VALIDATION_SUMMARY.md
  SCHEMA_AWARE_VALIDATOR_CRITICAL_FIX_REPORT.md
  TEMPLATE_JAVASCRIPT_VALIDATION_ANALYSIS.md
  TEST_DELIVERABLES_SUMMARY.md
  VALIDATION_SUITE_RUNNER_FIXES.md
  docs/technical/unified-workspace-validation-system.md
  docs/technical/workspace-debugging-guide.md
  docs/technical/workspace-validation-tools-comparison.md
  scripts/workspace_debugging_toolkit.py
  validation_tool_inventory.md
  verenigingen/commands/__init__.py
  verenigingen/commands/workspace.py
  verenigingen/fixtures/workspace.json
  verenigingen/hooks.py
  verenigingen/utils/fix_eboekhouden_workspace.py
  verenigingen/utils/workspace_analyzer.py
  verenigingen/utils/workspace_content_fixer.py
  verenigingen/utils/workspace_link_validator.py
  verenigingen/verenigingen/dashboard_chart/total_active_members_trends/total_active_members_trends.json
  verenigingen/verenigingen/report/member_age_groups/member_age_groups.json
  verenigingen/verenigingen/workspace/e_boekhouden/e_boekhouden.json
  verenigingen/verenigingen/workspace/verenigingen/verenigingen.json
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, workspace-validator, field-validation-only, pytest-coverage-critical

updated validation tool config, hooks.py
  .pre-commit-config.yaml
  scripts/validation/ast_field_analyzer.py
  scripts/validation/database_field_reference_validator.py
  scripts/validation/doctype_field_validator.py
  scripts/validation/enhanced_field_reference_validator.py
  scripts/validation/method_resolution_validator.py
  verenigingen/hooks.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, field-validation-only, pytest-coverage-critical
