Repository 0spinboson/verenigingen: changes, and which pre-commit hooks are due for each by the changed paths.
All: security-tests, core-functionality-tests, integration-tests-critical

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: smoke-tests
        name: Run smoke tests before commit
        entry: python verenigingen/tests/test_runner.py smoke
        language: system
        pass_filenames: false
        always_run: true
        
      - id: security-tests  
        name: Run security regression tests
        entry: python run_volunteer_portal_tests.py --suite security
        language: system
        pass_filenames: false
        files: \.(py|js)$
        
      - id: core-functionality-tests
        name: Run core functionality tests on Python changes
        entry: python run_volunteer_portal_tests.py --suite core
        language: system
        pass_filenames: false
        files: \.py$
        
      - id: integration-tests-critical
        name: Run critical integration tests
        entry: bash -c 'bench run-tests --app verenigingen --module verenigingen.tests.test_termination_system && bench run-tests --app verenigingen --module verenigingen.tests.test_volunteer_portal_working'
        language: system
        pass_filenames: false
        files: (termination|volunteer|member|team).*\.py$

clean up
  __init__.py
  debug_brand_colors.html
  debug_brand_css.py
  debug_brand_system.py
  debug_member_user_link.py
  emergency_fix_departments.py
  fix_foppe_expense_issue.py
  test_brand_css.py
  test_brand_css_generation.py
  test_native_expense_system.py
  verenigingen/__init__.py
Due: security-tests, core-functionality-tests, integration-tests-critical

fixes
  ROLE_PROFILES_README.md
  docs/ROLE_PROFILES.md
  role_profiles_proposal.md
  scripts/check_email_template_status.py
  scripts/setup/auto_assign_profiles.py
  scripts/setup/deploy_role_profiles.py
  scripts/test_chapter_history_fix.py
  verenigingen/fixtures/email_template.json
  verenigingen/fixtures/module_profile.json
  verenigingen/fixtures/module_profile_enhanced.json
  verenigingen/fixtures/role_profile.json
  verenigingen/fixtures/role_profile_enhanced.json
  verenigingen/fixtures/role_profiles/verenigingen_auditor.json
  verenigingen/fixtures/role_profiles/verenigingen_chapter_admin.json
  verenigingen/fixtures/role_profiles/verenigingen_chapter_board.json
  verenigingen/fixtures/role_profiles/verenigingen_manager.json
  verenigingen/fixtures/role_profiles/verenigingen_member.json
  verenigingen/fixtures/role_profiles/verenigingen_system_admin.json
  verenigingen/fixtures/role_profiles/verenigingen_team_leader.json
  verenigingen/fixtures/role_profiles/verenigingen_treasurer.json
  verenigingen/fixtures/role_profiles/verenigingen_volunteer.json
  verenigingen/hooks.py
  verenigingen/public/js/member.js
  verenigingen/setup/role_profile_setup.py
  verenigingen/utils/application_helpers.py
  verenigingen/verenigingen/doctype/chapter/chapter.py
  verenigingen/verenigingen/doctype/chapter/managers/board_manager.py
  verenigingen/verenigingen/doctype/chapter/managers/member_manager.py
  verenigingen/verenigingen/doctype/member/member.js
  verenigingen/verenigingen/doctype/member/member.py
  verenigingen/verenigingen/doctype/volunteer_assignment/volunteer_assignment.json
  verenigingen/verenigingen/doctype/volunteer_assignment/volunteer_assignment.py
Due: security-tests, core-functionality-tests, integration-tests-critical

more test fixes and cleanup
  scripts/fixes/fix_subscription_processing.py
  verenigingen/api/fix_subscription.py
  verenigingen/api/membership_application_review.py
  verenigingen/api/sepa_mandate_fix.py
  verenigingen/patches/fix_subscription_date_update.py
  verenigingen/public/js/member.js
  verenigingen/tests/test_member_iban_history.py
  verenigingen/tests/test_member_lifecycle_iban.py
  verenigingen/utils/debug_account_mapping.py
  verenigingen/utils/debug_mutation_548.py
  verenigingen/utils/debug_sales_invoice_import.py
  verenigingen/utils/iban_history_manager.py
  verenigingen/utils/test_account_fallback.py
  verenigingen/utils/test_cogs_mapper.py
  verenigingen/utils/test_final_import.py
  verenigingen/utils/test_mutation_273.py
  verenigingen/utils/test_onboarding_methods.py
  verenigingen/utils/test_opening_mutation.py
  verenigingen/verenigingen/doctype/direct_debit_batch/direct_debit_batch.py
  verenigingen/verenigingen/doctype/member/member.json
  verenigingen/verenigingen/doctype/member/member.py
  verenigingen/verenigingen/doctype/member/mixins/payment_mixin.py
  verenigingen/verenigingen/doctype/member/mixins/sepa_mixin.py
  verenigingen/verenigingen/doctype/member_iban_history/__init__.py
  verenigingen/verenigingen/doctype/member_iban_history/member_iban_history.json
  verenigingen/verenigingen/doctype/member_iban_history/member_iban_history.py
  verenigingen/verenigingen/doctype/verenigingen_settings/verenigingen_settings.json
Due: security-tests, core-functionality-tests, integration-tests-critical

test regime
  Makefile
  docs/features/expense-claim-integration.md
  docs/testing-strategy.md
  scripts/install_pre_commit.sh
  verenigingen/tests/test_runner.py
  verenigingen/tests/test_runner_simple.py
  verenigingen/tests/test_runner_wrappers.py
Due: security-tests, core-functionality-tests

Create pylint.yml
  .github/workflows/pylint.yml
Due: none
