Repository nlvegan/verenigingen: changes, and which pre-commit hooks are due for each by the changed paths.
All: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, workspace-validator, field-validation-only, pytest-coverage-critical

doctype-field-validator:
  name: DocType attribute access validation
  entry: python scripts/validation/doctype_field_validator.py --pre-commit --reduced-fp-mode
  language: system
  pass_filenames: false
  stages:
  - pre-commit

sql-field-validator:
  name: SQL query field validation
  entry: python scripts/validation/sql_field_validator_with_confidence.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

frappe-api-validator:
  name: Frappe database API field validation
  entry: python scripts/validation/frappe_api_field_validator.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

enhanced-field-validator:
  name: Deprecated field validation (pre-push)
  entry: python scripts/validation/deprecated_field_validator.py
  language: system
  pass_filenames: false
  stages:
  - pre-push

template-field-validator:
  name: HTML/JavaScript template field validation
  entry: python scripts/validation/template_field_validator.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

javascript-doctype-validator:
  name: JavaScript DocType field validation
  entry: python scripts/validation/javascript_doctype_field_validator.py
  language: system
  pass_filenames: false
  stages:
  - pre-push

eslint:
  name: ESLint JavaScript validation
  entry: npx eslint
  language: node
  stages:
  - pre-commit
  args:
  - --fix
  additional_dependencies:
  - eslint@^8.57.0
  - eslint-plugin-security@^1.7.1
  - eslint-plugin-no-unsanitized@^4.0.2

fast-method-validator:
  name: Method call validation
  entry: python scripts/validation/method_call_validator.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

workspace-validator:
  name: Workspace integrity validation
  entry: python scripts/validation/workspace_integrity_validator.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

field-validation-only:
  name: Database field validation (fast check)
  entry: python scripts/validation/validation_suite_runner.py --field-only --quiet
  language: system
  pass_filenames: false
  stages:
  - pre-push

pytest-coverage-critical:
  name: üìä Pytest Coverage Check (Critical Tests)
  description: Run critical tests with coverage enforcement
  entry: python scripts/testing/pytest_precommit_runner.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  verbose: true
  require_serial: true

security: Fix hardcoded credentials and weak assertions in Cypress tests
  .gitignore
  cypress.env.json.template
  cypress/integration/board-member-controller.spec.js
  cypress/integration/campaign-controller.spec.js
  cypress/integration/chapter-board-member-controller.spec.js
  cypress/integration/chapter-controller.spec.js
  cypress/integration/chapter-join-request-controller.spec.js
  cypress/integration/chapter-management-controller.spec.js
  cypress/integration/comprehensive-doctype-testing.spec.js
  cypress/integration/cross-doctype-workflow-testing.spec.js
  cypress/integration/direct-debit-batch-controller.spec.js
  cypress/integration/donation-controller.spec.js
  cypress/integration/e-boekhouden-settings-controller.spec.js
  cypress/integration/event-controller.spec.js
  cypress/integration/member-application-controller.spec.js
  cypress/integration/member-controller.spec.js
  cypress/integration/member-lifecycle-management.spec.js
  cypress/integration/member-payment-history-controller.spec.js
  cypress/integration/member_application.spec.js
  cypress/integration/membership-controller.spec.js
  cypress/integration/membership-dues-controller.spec.js
  cypress/integration/membership-dues-schedule-controller.spec.js
  cypress/integration/mollie-settings-controller.spec.js
  cypress/integration/periodic-donation-agreement-controller.spec.js
  cypress/integration/sepa-audit-log-controller.spec.js
  cypress/integration/sepa-javascript-controller.spec.js
  cypress/integration/sepa-mandate-controller.spec.js
  cypress/integration/sepa-payment-retry-controller.spec.js
  cypress/integration/verenigingen-settings-controller.spec.js
  cypress/integration/volunteer-controller.spec.js
  cypress/integration/volunteer-expense-controller.spec.js
  cypress/integration/volunteer-management-controller.spec.js
  cypress/integration/volunteer-team-controller.spec.js
  docs/testing/README.md
  docs/testing/api-contract-testing-guide.md
Due: enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint

mollie transaction import working
  test-results/jest-junit.xml
  verenigingen/__init__.py
  verenigingen/auth_hooks.py
  verenigingen/hooks.py
  verenigingen/patches/session_validation_fix.py
  verenigingen/templates/pages/mt940_import.html
  verenigingen/tests/setup/jest-api-contract.config.js
  verenigingen/verenigingen/doctype/mt940_import/mt940_import.json
  verenigingen/verenigingen/doctype/mt940_import/mt940_import.py
  verenigingen/verenigingen_payments/clients/__init__.py
  verenigingen/verenigingen_payments/clients/bulk_transaction_importer.py
  verenigingen/verenigingen_payments/workflows/reconciliation_engine.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, field-validation-only, pytest-coverage-critical

added party data retrieval to mollie import logic
  test-results/jest-junit.xml
  test_bulk_importer_validation.py
  verenigingen/e_boekhouden/workspace/e_boekhouden/e_boekhouden.json
  verenigingen/tests/integration/test_mollie_bulk_transaction_consumer_data_qa.py
  verenigingen/tests/reports/mollie_bulk_transaction_qa_report.md
  verenigingen/tests/unit/test_mollie_bulk_transaction_core_functionality.py
  verenigingen/tests/unit/test_mollie_iban_validation_and_extraction.py
  verenigingen/utils/debug_bulk_importer.py
  verenigingen/verenigingen/doctype/member/member.js
  verenigingen/verenigingen/workspace/e_boekhouden/e_boekhouden.json
  verenigingen/verenigingen/workspace/verenigingen/verenigingen.json
  verenigingen/verenigingen_payments/clients/bulk_transaction_importer.py
  verenigingen/verenigingen_payments/workspace/verenigingen_payments/verenigingen_payments.json
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, field-validation-only, pytest-coverage-critical

workspace test fix
  test-results/jest-junit.xml
  verenigingen/auth_hooks.py
  verenigingen/hooks.py
  verenigingen/utils/session_cleanup.py
  verenigingen/verenigingen_payments/workspace/verenigingen_payments/verenigingen_payments.json
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, field-validation-only, pytest-coverage-critical

fix attempt 2
  verenigingen/verenigingen_payments/workspace/verenigingen_payments/verenigingen_payments.json
Due: none

empty dict
  test-results/jest-junit.xml
  verenigingen/patches/v1_0/fix_workspace_shortcuts_dict_issue.py
  verenigingen/verenigingen/report/mollie_balance_report/mollie_balance_report.json
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, field-validation-only, pytest-coverage-critical

mijnrood csv import fix
  test-results/jest-junit.xml
  verenigingen/tests/frontend/doctypes/mijnrood-csv-import.test.js
  verenigingen/tests/frontend/factories/test-data-factory.js
  verenigingen/verenigingen/doctype/mijnrood_csv_import/mijnrood_csv_import.js
  verenigingen/verenigingen/doctype/mijnrood_csv_import/mijnrood_csv_import.py
  verenigingen/verenigingen/doctype/mijnrood_csv_import/test_mijnrood_csv_import.py
  verenigingen/verenigingen/page/mijnrood_csv_import_dashboard/mijnrood_csv_import_dashboard.js
  verenigingen/verenigingen/workspace/verenigingen/verenigingen.json
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, field-validation-only, pytest-coverage-critical

fix: Resolve User None is disabled authentication error
  test-results/jest-junit.xml
  verenigingen/auth_hooks.py
  verenigingen/hooks.py
  verenigingen/patches/session_validation_fix.py
  verenigingen/public/js/donation_form.js
  verenigingen/templates/pages/donate.html
  verenigingen/templates/pages/donate.py
  verenigingen/templates/pages/payment_success.html
  verenigingen/templates/pages/payment_success.py
  verenigingen/templates/pages/test_mollie.html
  verenigingen/templates/pages/test_mollie.py
  verenigingen/utils/auth_monitoring.py
  verenigingen/utils/donation_history_manager.py
  verenigingen/utils/session_cleanup_enhanced.py
  verenigingen/verenigingen/doctype/donation/donation.json
  verenigingen/verenigingen/doctype/donation/donation.py
  verenigingen/verenigingen/doctype/mijnrood_csv_import/mijnrood_csv_import.json
  verenigingen/verenigingen_payments/doctype/mollie_settings/mollie_settings.py
  verenigingen/verenigingen_payments/utils/payment_gateways.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, field-validation-only, pytest-coverage-critical

mollie payment integration working
  .gitignore
  test-results/jest-junit.xml
  verenigingen/hooks.py
  verenigingen/templates/pages/donate.py
  verenigingen/verenigingen/doctype/donation/donation.json
  verenigingen/verenigingen_payments/clients/bulk_transaction_importer.py
  verenigingen/verenigingen_payments/clients/payments_client.py
  verenigingen/verenigingen_payments/dashboards/financial_dashboard.py
  verenigingen/verenigingen_payments/utils/payment_gateways.py
  verenigingen/verenigingen_payments/utils/timezone_utils.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, field-validation-only, pytest-coverage-critical

donation registration fixes
  test-results/jest-junit.xml
  verenigingen/api/periodic_donation_operations.py
  verenigingen/tests/backend/comprehensive/test_periodic_donation_agreement_comprehensive.py
  verenigingen/tests/backend/features/test_anbi_clarity_lifecycle.py
  verenigingen/tests/fixtures/anbi_test_personas.py
  verenigingen/utils/donation_emails.py
  verenigingen/utils/donation_history_manager.py
  verenigingen/verenigingen_payments/utils/payment_gateways.py
  verenigingen/web_form/donation_form/donation_form.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, field-validation-only, pytest-coverage-critical

fix: Implement monkey patch for Frappe session resumption to prevent User None errors
  verenigingen/boot.py
  verenigingen/monkey_patches/__init__.py
  verenigingen/monkey_patches/session_patch.py
  verenigingen/verenigingen/doctype/verenigingen_settings/verenigingen_settings.json
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, field-validation-only, pytest-coverage-critical

fix: Remove problematic monkey patches, keep CSRF secret key fix
  verenigingen/__init__.py
  verenigingen/boot.py
  verenigingen/fixtures/membership_dues_schedule.json
  verenigingen/monkey_patches/__init__.py
  verenigingen/monkey_patches/session_patch.py
  verenigingen/patches.txt
  verenigingen/patches/v2_0/remove_membership_legacy_fields.py
  verenigingen/patches/v2_1/cleanup_duplicate_dues_schedule_templates.py
  verenigingen/templates/pages/volunteer/skills.html
  verenigingen/verenigingen/doctype/membership_type/membership_type.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, fast-method-validator, field-validation-only, pytest-coverage-critical

fixed membership application form
  test-results/jest-junit.xml
  verenigingen/templates/pages/apply_for_membership.html
  verenigingen/templates/pages/apply_for_membership.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, fast-method-validator, field-validation-only, pytest-coverage-critical

cleanup
  contract-coverage-report.json
  reports/security/api_security_validation_20250808_082948.json
  reports/security/api_security_validation_20250808_083111.json
  reports/security/api_security_validation_20250808_143625.json
  reports/security/api_security_validation_20250808_143731.json
  reports/security/api_security_validation_20250808_143906.json
  reports/security/api_security_validation_20250808_144043.json
  reports/security/api_security_validation_20250808_144208.json
  reports/security/api_security_validation_20250809_070918.json
  reports/security/batch_security_results.json
  reports/security/final_security_validation_20250815_104555.json
  reports/security/security_scan_report.json
  reports/security/security_validation_report.json
  reports/validation/database_field_inventory.json
  reports/validation/quality-report.json
  reports/validation/refactoring_metrics_validation.json
  reports/validation/validation_report.json
  run_core_tests.py
  run_tests.py
  scripts/security/security_validation_suite.py
  scripts/testing/runners/run_tests.py
  scripts/testing/test_bulk_importer_validation.py
  scripts/validate-contract-coverage.js
  test-results/jest-junit.xml
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, field-validation-only, pytest-coverage-critical

role profiles enabled again
  test-results/jest-junit.xml
  verenigingen/fixtures/role_profile.json
  verenigingen/fixtures/role_profile.json.disabled
  verenigingen/fixtures/role_profile_enhanced.json.disabled
  verenigingen/fixtures/role_profile_kascommissie.json
  verenigingen/hooks.py
  verenigingen/templates/pages/donate.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, field-validation-only, pytest-coverage-critical

cleanup and eboekhouden import logic improvements
  archived_unused/e_boekhouden_account_mapping/README.md
  archived_unused/e_boekhouden_account_mapping/__init__.py
  archived_unused/e_boekhouden_account_mapping/api.py
  archived_unused/e_boekhouden_account_mapping/e_boekhouden_account_mapping.json
  archived_unused/e_boekhouden_account_mapping/e_boekhouden_account_mapping.py
  archived_unused/e_boekhouden_account_mapping/eboekhouden_account_analyzer.py
  archived_unused/e_boekhouden_account_mapping/eboekhouden_migration_config.html
  archived_unused/e_boekhouden_account_mapping/eboekhouden_migration_config.py
  test-results/jest-junit.xml
  verenigingen/__init__.py
  verenigingen/boot.py
  verenigingen/e_boekhouden/doctype/e_boekhouden_migration/e_boekhouden_migration.py
  verenigingen/e_boekhouden/utils/eboekhouden_improved_item_naming.py
  verenigingen/e_boekhouden/utils/eboekhouden_rest_full_migration.py
  verenigingen/e_boekhouden/utils/invoice_helpers.py
  verenigingen/public/js/donation_form.js
  verenigingen/session_cache_fix.py
  verenigingen/templates/pages/donate.py
  verenigingen/utils/dues_schedule_auto_creator.py
  verenigingen/utils/email_queue_cleanup.py
  verenigingen/utils/member_account_service.py
  verenigingen/verenigingen/doctype/mijnrood_csv_import/mijnrood_csv_import.json
  verenigingen/verenigingen/doctype/mijnrood_csv_import/mijnrood_csv_import.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, field-validation-only, pytest-coverage-critical

disable: Disable Frappe Press deployment workflow
  .github/workflows/deploy-to-press.yml.disabled
Due: none

feat: Add child table creation pattern validator and fix Chapter Member bugs
  .pre-commit-config.yaml
  docs/validation/child_table_creation_validator.md
  scripts/test_mollie_donor_integration.py
  scripts/validation/child_table_creation_validator.py
  scripts/validation/validation_suite_runner.py
  test_mollie_fixes.py
  verenigingen/api/membership_application_review.py
  verenigingen/hooks.py
  verenigingen/tests/contracts/mollie-contracts.json
  verenigingen/tests/fixtures/mollie_test_factory.py
  verenigingen/utils/mollie_data_validator.py
  verenigingen/verenigingen/doctype/membership_type/membership_type.py
  verenigingen/verenigingen/doctype/mijnrood_csv_import/mijnrood_csv_import.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, field-validation-only, pytest-coverage-critical

fix: Correct critical child table creation patterns in production code
  scripts/validation/child_table_creation_validator.py
  verenigingen/utils/iban_history_manager.py
  verenigingen/verenigingen/doctype/chapter_board_member/chapter_board_member.py
  verenigingen/verenigingen/doctype/team_member/team_member.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, field-validation-only, pytest-coverage-critical

feat: Address Quality Control feedback with comprehensive improvements
  scripts/validation/database_field_reference_validator_consolidated.py
  scripts/validation/enhanced_field_reference_validator.py
  scripts/validation/test_child_table_validator.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, field-validation-only, pytest-coverage-critical

feat: Rename eboekhouden_main_ledger_id to custom_eboekhouden_main_ledger_id
  scripts/precise_field_scanner.py
  scripts/remove_duplicate_fields.py
  scripts/update_field_descriptions.py
  verenigingen/api/check_eboekhouden_fields.py
  verenigingen/e_boekhouden/utils/create_eboekhouden_custom_fields.py
  verenigingen/e_boekhouden/utils/eboekhouden_rest_full_migration.py
  verenigingen/fixtures/custom_field.json
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, field-validation-only, pytest-coverage-critical

fix: Remove unnecessary f-string placeholders and improve comparisons
  verenigingen/commands/workspace.py
  verenigingen/database_patches/add_performance_indexes.py
  verenigingen/templates/pages/payment_success.py
  verenigingen/utils/fix_eboekhouden_workspace.py
  verenigingen/utils/session_cleanup_enhanced.py
  verenigingen/utils/workspace_link_validator.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, field-validation-only, pytest-coverage-critical

redundant file cleanup
  .gitignore
  .pre-commit-config.yaml
  scripts/testing/jest-precommit-wrapper.sh
  verenigingen/fixtures/add_sales_invoice_fields.py
  verenigingen/fixtures/module_profile.json
  verenigingen/fixtures/module_profile_enhanced.json
  verenigingen/fixtures/role_profiles.disabled/verenigingen_auditor.json
  verenigingen/fixtures/role_profiles.disabled/verenigingen_chapter_admin.json
  verenigingen/fixtures/role_profiles.disabled/verenigingen_chapter_board.json
  verenigingen/fixtures/role_profiles.disabled/verenigingen_manager.json
  verenigingen/fixtures/role_profiles.disabled/verenigingen_member.json
  verenigingen/fixtures/role_profiles.disabled/verenigingen_system_admin.json
  verenigingen/fixtures/role_profiles.disabled/verenigingen_team_leader.json
  verenigingen/fixtures/role_profiles.disabled/verenigingen_treasurer.json
  verenigingen/fixtures/role_profiles.disabled/verenigingen_volunteer.json
  verenigingen/tests/test_chapter_join_request_comprehensive.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, field-validation-only, pytest-coverage-critical

account creation manager now used by main member approval process, donor<>customer update logic improved, tests fixed
  docs/features/ACCOUNT_CREATION_SYSTEM.md
  docs/validation/FIELD_VALIDATION_IMPROVEMENTS_SUMMARY.md
  scripts/validate_secure_account_creation.py
  scripts/validation/README_AST_ANALYZER.md
  scripts/validation/ast_field_analyzer_original.py
  verenigingen/api/membership_application_review.py
  verenigingen/api/regression_testing.py
  verenigingen/debug_coverage.py
  verenigingen/tests/test_donor_customer_integration.py
  verenigingen/tests/utils/base.py
  verenigingen/utils/account_creation_manager.py
  verenigingen/utils/debug/check_custom_fields.py
  verenigingen/utils/debug/clarify_invoice_numbers.py
  verenigingen/utils/debug/coverage_analysis_debugger.py
  verenigingen/utils/debug/test_actual_mutations.py
  verenigingen/utils/donor_customer_sync.py
  verenigingen/verenigingen/doctype/donor/donor.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, field-validation-only, pytest-coverage-critical

small fixes
  verenigingen/fixtures/role_profile.json
  verenigingen/utils/account_creation_manager.py
  verenigingen/utils/application_payments.py
  verenigingen/utils/donor_customer_sync.py
  verenigingen/verenigingen/doctype/donor/donor.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, field-validation-only, pytest-coverage-critical

bulk account creation logic added
  MIJNROOD_INTEGRATION_PLAN.md
  docs/BULK_OPERATIONS_DEPLOYMENT.md
  test_mollie_fixes.py
  verenigingen/database_patches/add_performance_indexes.py
  verenigingen/fixtures/custom_field.json
  verenigingen/hooks.py
  verenigingen/tests/test_bulk_account_creation.py
  verenigingen/utils/account_creation_manager.py
  verenigingen/utils/bulk_performance_monitor.py
  verenigingen/utils/bulk_queue_config.py
  verenigingen/utils/bulk_retry_processor.py
  verenigingen/utils/session_cleanup_enhanced.py
  verenigingen/verenigingen/doctype/bulk_operation_tracker/__init__.py
  verenigingen/verenigingen/doctype/bulk_operation_tracker/bulk_operation_tracker.json
  verenigingen/verenigingen/doctype/bulk_operation_tracker/bulk_operation_tracker.py
  verenigingen/verenigingen/doctype/member/member.py
  verenigingen/verenigingen/doctype/mijnrood_csv_import/mijnrood_csv_import.py
  verenigingen/verenigingen/doctype/mt940_import/mt940_import.py
  verenigingen/verenigingen/page/bulk_operations_monitor/__init__.py
  verenigingen/verenigingen/page/bulk_operations_monitor/bulk_operations_monitor.js
  verenigingen/verenigingen/page/bulk_operations_monitor/bulk_operations_monitor.json
  verenigingen/verenigingen/report/bulk_operations_performance_report/__init__.py
  verenigingen/verenigingen/report/bulk_operations_performance_report/bulk_operations_performance_report.json
  verenigingen/verenigingen/report/bulk_operations_performance_report/bulk_operations_performance_report.py
  verenigingen/verenigingen/workspace/verenigingen/verenigingen.json
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, field-validation-only, pytest-coverage-critical

pain.008.001.08 sepa batch spec adherence
  schemas/README.md
  scripts/install_sepa_schemas.py
  test_fixes.py
  verenigingen/schemas/pain.008.001.08.xsd
  verenigingen/tests/fixtures/sepa_test_factory.py
  verenigingen/tests/test_sepa_integration_performance.py
  verenigingen/tests/test_sepa_performance_optimizations_comprehensive.py
  verenigingen/verenigingen_payments/doctype/direct_debit_batch/direct_debit_batch.py
  verenigingen/verenigingen_payments/doctype/direct_debit_batch/sepa_processor.py
  verenigingen/verenigingen_payments/utils/bank_specific_validator.py
  verenigingen/verenigingen_payments/utils/batch_performance_optimizer.py
  verenigingen/verenigingen_payments/utils/financial_error_handler.py
  verenigingen/verenigingen_payments/utils/sepa_config_manager.py
  verenigingen/verenigingen_payments/utils/sepa_performance_monitor.py
  verenigingen/verenigingen_payments/utils/sepa_rulebook_validator.py
  verenigingen/verenigingen_payments/utils/sepa_xml_enhanced_generator.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, field-validation-only, pytest-coverage-critical

plan update
  docs/testing/future-testing-work.md
Due: none

api msw test upgrade, sepa tests
  docs/testing/future-testing-work.md
  package-lock.json
  package.json
  test-results/jest-junit.xml
  verenigingen/tests/setup/controller-loader.js
  verenigingen/tests/setup/frappe-mocks.js
  verenigingen/tests/setup/msw-handlers.js
  verenigingen/tests/setup/msw-server.js
  verenigingen/tests/setup/msw-setup.js
  verenigingen/tests/setup/test-environment.js
  verenigingen/tests/test_sepa_realistic_business_scenarios.py
  verenigingen/tests/unit/doctype/test_chapter_controller.test.js
  verenigingen/tests/unit/doctype/test_member_controller.test.js
  verenigingen/tests/unit/integrations/test_mollie_api_msw.test.js
  verenigingen/tests/unit/integrations/test_mollie_webhook_simulation.test.js
  verenigingen/tests/unit/integrations/test_msw_simple.test.js
  verenigingen/verenigingen_payments/doctype/direct_debit_batch/direct_debit_batch.py
  verenigingen/verenigingen_payments/doctype/direct_debit_batch/sepa_processor.py
  verenigingen/verenigingen_payments/utils/bank_specific_validator.py
  verenigingen/verenigingen_payments/utils/batch_performance_optimizer.py
  verenigingen/verenigingen_payments/utils/sepa_performance_monitor.py
  yarn.lock
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, field-validation-only, pytest-coverage-critical

test update
  verenigingen/tests/unit/doctype/test_member_controller.test.js
  verenigingen/tests/unit/integrations/test_mollie_webhook_simulation.test.js
Due: enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint

ast validation fix
  MIJNROOD_INTEGRATION_PLAN.md
  ROLE_PROFILE_JAVASCRIPT_TESTING_SUMMARY.md
  ROLE_PROFILE_SYSTEM_PRODUCTION_READINESS_REPORT.md
  scripts/validation/ast_field_analyzer_improved_complete.py
  verenigingen/utils/chapter_role_profile_manager.py
  verenigingen/utils/team_role_profile_manager.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, field-validation-only, pytest-coverage-critical

ast analzer update
  docs/archived/PHASE2_IMPLEMENTATION_SUMMARY.md
  docs/email-list-implementation-final.md
  docs/email-list-implementation-plan-v2.md
  docs/email-list-implementation-plan.md
  docs/validation/validation_tool_inventory.md
  scripts/validation/ast_field_analyzer_original.py
  verenigingen/utils/chapter_role_profile_manager.py
  verenigingen/utils/team_role_profile_manager.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, field-validation-only, pytest-coverage-critical

membership approval minor refactor
  test_functions.py
  test_xss_protection.html
  verenigingen/api/chapter_join.py
  verenigingen/api/membership_application_review.py
  verenigingen/utils/account_creation_manager.py
  verenigingen/utils/application_helpers.py
  verenigingen/utils/chapter_security.py
  verenigingen/utils/debug/test_approval_workflow.py
  verenigingen/utils/employee_user_link.py
  verenigingen/verenigingen/doctype/account_creation_request/account_creation_request.py
  verenigingen/verenigingen/doctype/chapter_join_request/chapter_join_request.py
  verenigingen/verenigingen/doctype/team/team.py
  verenigingen/verenigingen/doctype/volunteer/volunteer.py
  verenigingen/verenigingen/page/membership_applicati/membership_applicati.js
  verenigingen/verenigingen/page/membership_application_review/__init__.py
  verenigingen/verenigingen/page/membership_application_review/membership_application_review.html
  verenigingen/verenigingen/page/membership_application_review/membership_application_review.js
  verenigingen/verenigingen/page/membership_application_review/membership_application_review.json
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, field-validation-only, pytest-coverage-critical

Path conditions:
  doctype-field-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py)
  sql-field-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/)
  frappe-api-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/)
  enhanced-field-validator: any of: \.(py|html|js)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py)
  template-field-validator: any of: \.(html|js)$, but not: ^(tests/|test_|.*_test\.(html|js)|debug_|.*_debug\.(html|js)|scripts/testing/|scripts/debug/|frontend_tests/|node_modules/)
  javascript-doctype-validator: any of: \.js$, but not: ^(tests/|test_|.*_test\.js|debug_|.*_debug\.js|scripts/testing/|scripts/debug/|frontend_tests/|node_modules/)
  eslint: any of: \.js$, but not: ^(node_modules/|archived_unused/|scripts/analysis/|scripts/monitoring/|scripts/performance/|scripts/rollback/|scripts/security/|debug_utils/|dev_scripts/)|\.min\.js$|\.bundle\.js$
  fast-method-validator: any of: \.py$, but not: ^(archived_unused/|archived_removal/|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|.*_test\.py|debug_.*\.py)
  workspace-validator: any of: ^(verenigingen/fixtures/workspace\.json|verenigingen/api/workspace_.*\.py)$
  field-validation-only: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/)
  pytest-coverage-critical: any of: \.py$, but not: ^(migrations/|fixtures/|scripts/testing/|scripts/debug/|.*_debug\.py|test_.*\.py)
